/* member activity tables (membership and borrowing) */

$table-padding: 1rem;
$shadow: rgba(0, 0, 0, 0.2);

.activities {

    form {
        display: none;
    }

    table {
        width: 100%;
    }

    :target {
        /* override default target styles */
        border-left: none;
        margin-left: 0;
        /* add highlight color */
        background-color: $ice;
    }

    // mobile styles: table rows are expandable cards, no headers
    @media (max-width: calc(#{$breakpoint-s} - 1px)) {

        form { // show sorting controls
            display: block;
        }

        thead {
            display: none;
        }

        tr {
            padding: 1rem 0.75rem;
            border-bottom: solid 1px $light-grey;
            display: flex;
            flex-wrap: wrap;
            position: relative;

            &:first-child { border-top: solid 1px $light-grey; }
        }

        td {
            width: 100%;
            font-size: 0.7rem;
        }

        /* hide end dates for single-day events */
        .purchase .end, .reimbursement .end {
            opacity: 0;
        }

        /* add spacing around notice for no activity content */
        > p {
            padding: 1rem;
        }

    }

    // tablet and desktop styles
    @media (min-width: $breakpoint-s) {

        thead {

            tr {
                border-top: none;
            }

            th:first-child {
                text-align: left;
            }

            th:last-child {
                text-align: right;
            }
        }

        th {
            position: sticky;
            height: 3rem; // same as height of nav blocks
            top: 0;
            z-index: 10;
            background: white;
            font-size: 0.7rem;
            font-weight: bold;
            vertical-align: middle;

            // sticky table headers
            // stick a single (leftmost) header, set a shadow underneath it
            // that spans the page width
            &.stuck::before {
                content: ' ';
                z-index: -1;
                position: absolute;
                bottom: -1px;
                margin-left: -50vw;
                width: 200vw;
                height: 100%;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                background: white;
            }
        }

        // styles adapted from tablesort
        th[role=columnheader]:not([data-sort-method=none]) {
            cursor: pointer;

            // display icon to indicate sortable and current sort status
            &::after {
                content: '';
                display: inline-block;
                margin-left: 0.35rem;
                background-image: url('/static/img/icons/inactive-table-sort.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 200%;
                vertical-align: middle;
                width: 0.8rem;
                height: 1.35rem;
                box-shadow: 0 2px 4px 0 $shadow;
            }

            &[aria-sort=ascending]::after {
                background-image: url('/static/img/icons/selected-table-sort-down.svg');
            }

            &[aria-sort=descending]::after {
                background-image: url('/static/img/icons/selected-table-sort-up.svg');
            }
        }

        td {
            font-size: 0.8rem;
            padding: $table-padding calc(#{$table-padding} / 2);
            text-align: center;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }

        tbody tr {
            border-top: solid 2px $white-two;
            border-bottom: solid 2px $white-two;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    // tablet only styles: scrollable table with fixed left column
    @media (min-width: $breakpoint-s) and (max-width: calc(#{$breakpoint-m} - 1px)) {

        overflow: auto; // scrollable

        .wrapper { // table always expands to fill largest tablet size
            width: $breakpoint-m;
        }

        th {
            padding-top: $table-padding;
        }

        td, th {
            &:first-child {
                // width: 10rem;
                padding-left: $table-padding;
            }

            &:last-child {
                padding-right: $table-padding;
            }
        }

        // td:first-child {
        //     position: absolute;
        //     background: white;
        //     margin-top: -1.8rem;
        // }
    }

    // desktop only styles: fixed-width table
    @media (min-width: $breakpoint-m) {

        @include padding-container; // fixed width

        .wrapper {
            width: 100%;
        }

        td {

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

    }

    @media (min-width: $breakpoint-l) {

        th {
            height: 4rem;
        }
    }
}