.activities {
    /* mobile styles: table rows are expandable cards, no headers */
    table {
        width: 100%;
    }

    thead {
        display: none;
    }

    tr {
        padding: 1rem 0.75rem;
        border-bottom: solid 0.05rem $light-grey;
        display: flex; /* mimics inline-block but allows reordering */
        flex-wrap: wrap;
        position: relative;
    }

    td {
        width: 100%;
        font-family: $sans;
        font-size: 0.7rem;
    }

    .empty {
        display: none;
    }

    /* tablet styles: scrollable table with fixed left column */

    /* desktop styles: full-width table */
    @media (min-width: $breakpoint-m) {
        @include padding-container;

        .wrapper {
            width: 100%;
        }
    }
}

.borrowing {

    .start, /* combined into one line by changing width values */
    .end {
        flex: none;
        width: auto;
    }

    .start:not(.empty) + .end {
        padding-left: 3px;

        &::before {
            content: ' — ';
        }
    }

    .title {
        padding-right: 35%;
        font-style: italic;
    }

    .type {
        text-transform: lowercase;
    }

    .pubdate {
        margin-top: 0.75rem;
        position: relative;
        order: 5; /* always goes last */

        &::before {
            content: 'Pub. Date';
            position: absolute;
            bottom: 0.75rem;
            font-size: 0.6rem;
            font-weight: bold;
        }
    }

    .author { /* removed from flow; always at right of card */
        position: absolute;
        right: 0.75rem;
        width: 25%;
        height: 100%;
        text-align: right;
    }
}

.membership {

    .start,
    .end {
        margin-bottom: .5rem;
    }

    .start {
        flex: none;
        width: auto;
        order: 2;
    }

    .end { /* large enough to always push next item onto a new line */
        flex-basis: calc(100% * 2 / 3);
        order: 3;
    }

    .start:not(.empty) + .end {
        padding-left: 3px;

        &::before {
            content: ' — ';
        }
    }

    .duration,
    .amount,
    .category {
        display: inline-block;
        width: calc(100% / 3);
        position: relative;
        margin-top: 0.75rem;

        &::before {
            position: absolute;
            bottom: 0.75rem;
            left: 0;
            width: 100%;
            font-size: 0.6rem;
            font-weight: bold;
        }
    }

    .duration {
        order: 4;

        &::before {
            content: 'Duration';
        }
    }

    .category {
        order: 5;
        text-align: center;

        &.empty {
            display: inline-block;
        }

        &::before {
            content: 'Category';
        }
    }

    .amount {
        order: 6;
        text-align: right;

        &::before {
            content: 'Amount';
        }
    }
}