/* members borrowing activity table */
.borrowing {

    // italicize titles and edition info
    .title a, .edition em { font-style: italic; }

    .edition {
        color: $brownish-grey;
        font-size: 0.7rem;
        line-height: 0.9rem;
    }

    // mobile styles
    @media (max-width: calc(#{$breakpoint-s} - 1px)) {

        .title { order: 1; }
        .activity { order: 2; }
        .start { order: 3; }
        .end { order: 4; }

        .pubdate {
            margin-top: 0.75rem;
            position: relative;
            order: 5; // always goes last

            &::before {
                content: 'Pub. Date';
                position: absolute;
                bottom: 0.75rem;
                font-size: 0.6rem;
                font-weight: bold;
            }
        }

        td:not(.author) {
            padding-right: 50%;
        }

        .author { // removed from flow; always at right of card
            position: absolute;
            right: 1rem;
            top: 1rem;
            width: 50%;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .empty, .purchase .end {
            display: none;
        }

        .borrow {
            .start::after,
            .end::before {
                content: ' — ';
            }

            .start:not(.empty) + .end:not(.empty)::before {
                content: '';
            }
        }

        // uncertainty icon displayed at bottom of card
        tr.uncertain {
            padding-bottom: 1.5rem;

            &::after {
                content: url('/static/img/icons/uncertainty.svg');
                width: .75rem;
                height:  .75rem;
                position: absolute;
                bottom: .75rem;
            }
        }
    }

    // tablet and desktop styles
    @media (min-width: $breakpoint-s) {

        .start,
        .end,
        .pubdate {
            min-width: 6rem;
        }

        .activity {
            min-width: 5rem;
        }

        // uncertainty icon displayed to the right of titles
        tr.uncertain {
            .title a { position: relative; }

            .title a::after {
                z-index: 0;
                content: url('/static/img/icons/uncertainty.svg');
                width: .75rem;
                height:  .75rem;
                position: absolute;
                bottom: .25rem;
                right: -1rem;
            }
        }
    }

    // desktop-only styles
    @media (min-width: $breakpoint-m) {
        tr.uncertain .title a::after {
            right: 0;
            left: -1.5rem;
        }
    }
}