/* members borrowing activity table */
.borrowing {

    .title a, .edition em {
        font-style: italic;
    }

    .edition {
        color: $brownish-grey;
        font-size: 0.7rem;
        line-height: 0.9rem;
    }

    // mobile styles
    @media (max-width: calc(#{$breakpoint-s} - 1px)) {

        .start, // combined into one line by changing width values
        .end {
            flex: none;
            width: auto;
        }

        .start:not(.empty) + .end {
            padding-left: 3px;

            &::before {
                content: ' — ';
            }
        }

        .title {
            padding-right: 35%;
            margin-bottom: .2rem;
        }

        .pubdate {
            margin-top: 0.75rem;
            position: relative;
            order: 5; // always goes last

            &::before {
                content: 'Pub. Date';
                position: absolute;
                bottom: 0.75rem;
                font-size: 0.6rem;
                font-weight: bold;
            }
        }

        .author { // removed from flow; always at right of card
            position: absolute;
            right: 0.75rem;
            width: 25%;
            height: 100%;
            text-align: right;
        }

        // uncertainty icon displayed at bottom of card
        tr.uncertain {
            padding-bottom: 1.5rem;

            &::after {
                content: url('/static/img/icons/uncertainty.svg');
                width: .75rem;
                height:  .75rem;
                position: absolute;
                bottom: .75rem;
            }
        }
    }

    // tablet and desktop styles
    @media (min-width: $breakpoint-s) {

        .start,
        .end,
        .pubdate {
            min-width: 6rem;
        }

        .activity {
            min-width: 5rem;
        }

        // uncertainty icon displayed to the right of titles
        tr.uncertain {
            .title a { position: relative; }

            .title a::after {
                z-index: 0;
                content: url('/static/img/icons/uncertainty.svg');
                width: .75rem;
                height:  .75rem;
                position: absolute;
                bottom: .25rem;
                right: -1rem;
            }
        }
    }

    // desktop-only styles
    @media (min-width: $breakpoint-m) {
        tr.uncertain .title a::after {
            right: 0;
            left: -1.5rem;
        }
    }
}