// member-specific dl fields
dl.member {
    .name {
        display: none;

        dt {
            @include sr-only;
        }

        dd {
            line-height: 1.4rem;
            font-size: 1rem;
            font-family: $serif;
        }
    }

    // items that go on the left/top on mobile
    .name,
    .birth-death,
    .reference {
        text-align: left;
    }
    
    // items that go on the right/bottom on mobile
    .member-dates,
    .nationality,
    .profession {
        text-align: right;
    }

    // display when on detail pages
    .biography & {
        max-width: $result-width;
        margin: 2rem auto;

        @media (min-width: $breakpoint-s) {
            margin: 3rem auto;
        }
    }
}