/* member detail page styles */

// biographical details
section[aria-label=biography] {
    dl {
        .primary,
        .secondary {
            > div + div {
                margin-top: 1rem;
            }
        }
    }
}

// timeline graphs & map shared styles
section[aria-label=timeline],
section.map {
    z-index: 0; // strange bug...map will be on top of main menu when it's open unless this is set

    hr {
        width: 100%;
        margin: 0;
        border: none;
        background-color: $white-two;
        height: 1px;
    }

    h2 {
        margin: 2rem 0 1rem;
        padding-left: 1rem;
        font-family: $sans;
        font-size: 0.8rem;
    }
}

// timeline graphs
section[aria-label=timeline] {
    @include container;

    .timeline .description {
        @include sr-only;
    }
}
