// member-specific dl fields
dl.member {
    display: flex;
    flex: auto;
   
    .primary,
    .secondary {
        flex: 1;
    }

    dt,
    dd {
        line-height: 0.7rem;
    }

    dt {
        text-transform: capitalize;
        font-size: 0.7rem;
        font-weight: bold;
        margin-bottom: 0.7rem;
    }

    dd {
        font-size: 0.8rem;
        margin-bottom: .5rem;
    }
    

    // specialized name display in search results
    .member-results & {
        .name {
            dt {
                @include sr-only;
            }

            dd {
                line-height: 1.4rem;
                font-size: 1rem;
                font-family: $serif;
            }
        }
    }

    // items that go on the left/top on mobile
    .name,
    .birth-death,
    .reference {
        text-align: left;
    }

    // items that go on the right/bottom on mobile
    .member-dates,
    .nationality,
    .profession {
        text-align: right;
    }

    // display when on detail pages
    .biography & {
        max-width: $result-width;
        margin: 2rem auto;

        @media (min-width: $breakpoint-s) {
            margin: 3rem auto;
        }
    }

}

// biographical details
section[aria-label=biography] {
    dl {
        .primary,
        .secondary {
            > div + div {
                margin-top: 1rem;
            }
        }
    }
}

// timeline graphs & map
section[aria-label=timeline],
section.map {
    z-index: 0; // strange bug...map will be on top of main menu when it's open unless this is set

    hr {
        width: 100%;
        margin: 0;
        border: none;
        background-color: $white-two;
        height: 1px;
    }

    h2 {
        margin: 2rem 0 1rem;
        padding-left: 1rem;
        font-family: $sans;
        font-size: 0.8rem;
    }
}

section[aria-label=timeline] {
    @include container;
}

.timeline .description {
    @include sr-only;
}


aside  {
    background-color:  $white;

    .breadcrumbs {
        @include padding-container;
    }
}
