#members-form {

    label[for=id_has_card] {
        
        @media (min-width: $breakpoint-s) {
            max-width: 7rem;
        }

        span[role=tooltip]::after {
            width: 12rem;
            left: -6rem;
        }
    }
}