#members-form {

    // "has card" facet
    label[for=id_has_card] {

        @media (min-width: $breakpoint-s) {
            max-width: 7rem;
            margin-right: 0.1rem;
        }

        span:first-child {
            padding-top: .1rem;
        }

        span[role=tooltip]::after {
            width: 12rem;
            left: -12rem; // keep all of tooltip text onscreen on mobile

            @media (min-width: $breakpoint-s) {
                left: -6rem; // large enough width to center it on tablet+
            }
        }
    }

    // sizing for "membership dates" filter
    #id_membership_dates {
        legend { // "membership dates" text is too long; needs to wrap
            width: 50%;
        }

        @media (min-width: $breakpoint-s) {
            max-width: 13rem;
            margin-right: 0.1rem;
        }

        @media (min-width: $breakpoint-m) {
            max-width: 15rem;
        }
    }

    // on tablet only, all facets get taller to accommodate wrapped "membership dates" text
    @media (min-width: $breakpoint-s) and (max-width: calc(#{$breakpoint-m} - 1px)) {
        .group > .inner > .range.facet,
        .group > .inner > label,
        .group > .inner > .tab {
            height: 3rem;
        }

        .group .range.facet legend {
            line-height: 1.2;
            top: 0.6rem;
        }
    }

    // on mobile only, all facets/filters have a slight break in between them
    @media (max-width: calc(#{$breakpoint-s} - 1px)) {
        .group > .inner > .range.facet,
        .group > .inner > label,
        .group > .inner > .tab,
        #id_gender {
            margin-bottom: 0.1rem;
        }
    }

    // "birth year" is a range facet but it goes inside a tab on large screens
    #id_birth_year {
        margin-bottom: 0.1rem;

        @media (min-width: $breakpoint-s) {
            border: 0;
            padding: 0;
            max-width: none;
            height: fit-content;
            margin: 0 0 1rem;

            .inputs,
            legend {
                position: relative;
                display: block;
                width: 100%;
                text-align: left;
                right: unset;
                top: unset;
            }

            legend {
                margin-bottom: 0.5rem;
            }

            .inputs {
                margin-left: 0.5rem;
            }
        }
    }

    // gender facet info link
    #gender_tip {
        position: absolute;
        top: 2.7rem;
        left: 3.6rem;

        @media (min-width: $breakpoint-s) {
            top: 3.75rem;
        }
    }

    #nationality-info {
        z-index: 1;
        position: absolute;
        left: 4.75rem;
        top: 0;

        @media (min-width: $breakpoint-s) {
            top: -0.5rem;
        }

    }

    // make the tabpanels display when their tabs are aria-selected
    .demographics.tab[aria-selected=true] ~ #demographics-panel,
    .books.tab[aria-selected=true] ~ #books-panel {

        @media (min-width: $breakpoint-s) {
            display: block;
            max-height: 13.5rem;
            border-color: $green;

            > .inner {
                max-height: 13.5rem;
            }
        }
    }

    .books.tab {
        margin-right: 0;
    }
}