section.map  {
    @include container;
    margin-bottom: 2rem;

    hr {
        width: 100%;
        margin: 0;
        border: none;
        background-color: $white-two;
        height: 1px;
    }

    h2 {
        margin: 2rem 0 1rem;
        padding-left: 1rem;
        font-family: $sans;
        font-size: 0.8rem;
    }

    #address-map {
        width: 100%;
        height: 215px;

        @media (min-width: $breakpoint-s) {
            height: 515px;
        }

        @media (min-width: $breakpoint-m) {
            height: 687px;
        }
    }
}