.members.result {
    counter-increment: results;
    position: relative;
    border-top: 1px solid $white-two;

    article {
        position: relative;
        display: flex;
        align-items: baseline;
        flex-flow: row wrap;
        width: 100%;
        max-width: $members-result-width;
        height: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;
        border: none;
        margin: 0 auto;

        &:hover .see-more {
            visibility: visible;
        }
    }

    .card.icon {
        width: 1.5rem;
        position: absolute;
        bottom: -2.5rem;
        right: -1.5rem;

        @media (min-width: $breakpoint-s) {
            left: -2.5rem;
            top: 0;
        }
    }

    .counter {
        position: relative;
    }

    .counter::after {
        content: counter(results);
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }

    .main,
    .account {
        flex: none;

        @media (min-width: $breakpoint-s) {
            flex: auto;
        }
    }

    .main {
        width: 100%;
        position: relative;
        display: flex;
    }

    .account {
        text-align: right;
        width: 100%;
        margin-top: 0.5rem;

        @media (min-width: $breakpoint-s) {
            margin-top: 0;
            width: initial;
        }
    }

    .name {
        text-transform: none;
        font-family: $serif;
        font-size: 1rem;
    }

    .dates {
        font-size: 0.8rem;
    }

    .account-dates-label {
        font-family: $sans;
        text-align: right;
        font-size: 0.7rem;
        font-weight: bold;
    }

    .see-more {
        position: absolute;
        right: 0;
        bottom: 0.5rem;
        visibility: visible;
        color: $dark-green;
        font-size: 0.7rem;
        font-weight: bold;

        @media (min-width: $breakpoint-s) {
            visibility: hidden;
            right: calc((100% - #{$members-result-width}) / 2);
        }
    }

    .has-card {
        display: none;
    }
}