.members.search-form {
    @include padding-container;

    height: 3rem;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    .total-results {
        font-family: $serif;
        font-style: italic;
        font-size: 0.8rem;
    }
}

.members.sort-pages {
    @include flex-container;

    height: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: $breakpoint-s) {
        height: 4rem;
        justify-content: space-evenly
    }

    label {
        font-size: 0.7rem;
    }

    select {
        margin-left: 0.5rem;
    }

    .sort {
        width: 7.5rem;
    }

    .pagination {
        width: 5rem;
    }
}

.members.results-list {
    @include flex-container;
}