.members .result {
    .card.icon {
        width: 1.5rem;
        position: absolute;
        bottom: -2.5rem;
        right: -1.5rem;
        transition: opacity 0.5s;

        @media (min-width: $breakpoint-s) {
            left: -2.5rem;
            top: 0;
        }
    }
}
