.members .result div.member.details {
    // show the "has card" icon if present
    .card.icon {
        width: 1.5rem;
        position: absolute;
        bottom: -2.5rem;
        right: -1.5rem;
        transition: opacity 0.5s;

        @media (min-width: $breakpoint-s) {
            left: -2.5rem;
            top: 0;
        }
    }

    .primary {
        flex: 2;
    }

    // hide the "birth/death dates" label
    .birth-death dt {
        display: none;
    }

    .birth-death dd {
        margin-top: .5rem;
    }

    .secondary {
        margin-top: 0.5rem;
    }

    // show the name
    .name {
        display: block;
    }
}
