/* single member search result styles */

.members.result {

    // some headings are only read via SRs since they're implied visually
    dt.birth-death,
    dt.name {
        @include sr-only;
    }

    // emphasized name display
    dd.name {
        font-size: 1rem;
        font-family: $serif;
    }

    // gentler spacing on both sides
    dd.birth-death,
    dd.member-dates {
        margin-top: .5rem;
    }


    .member-dates {
        /* use padding to constrain size without messing up layout */
        /* no more than 2 date ranges per line */
        padding-left: calc(100% - 10em);

        .date-range {
            white-space: nowrap;
        }

    }

    // show the "has card" icon if present
    &.has-card {

        // on mobile, the icon is positioned relative to the "primary"
        // portion of the result
        @media (max-width: calc(#{$breakpoint-s} - 1px)) {

            .primary {
                position: relative;

                &::after {
                    content: url('/static/img/icons/member_card.svg');
                    width: 1.25rem;
                    height:  1.75rem;
                    position: absolute;
                    bottom: -2.25rem;
                }
            }
        }

        // on tablet/desktop, the icon is positioned relative to the counter
        // portion of the result
        @media (min-width: $breakpoint-s) {

            .counter {
                position: relative;

                &::before {
                    content: url('/static/img/icons/member_card.svg');
                    width: 1.25rem;
                    height:  1.75rem;
                    position: absolute;
                    left: -1.75rem;
                }
            }
        }
    }
}
