div.main,
article.main {
    @include flex-container;
    padding: 1.5rem 0;

    @media (min-width: $breakpoint-s) {
        padding: 2rem 0;
    }

    @media (min-width: $breakpoint-l) {
        padding: 2.5rem 0;
    }

    .attribution {
        margin-bottom: 2rem;

        .authors,
        .editors,
        .pubdate,
        .update,
        .doi,
        .pdf {
            font-size: 0.8rem;
            display: block;
        }
    }

    ol,
    ul {
        margin: 2rem 0;

        li {
            margin-bottom: 1rem;
        }

        // pad distance between number/bullet and text
        li::before {
            content: "\200B";
            display: inline-block;
            width: 1rem;
        }
    }

    ul {
        list-style: square inside;
    }

    ol {
        list-style: decimal inside;
    }

    .linkable_section {

        h2 {
            margin-bottom: 1rem;
        }
    }

    .footnotes {
        border-top: 1px solid $light-grey;
        padding-top: 1rem;
        margin-top: 2rem;

        ol {
            padding: 0;
        }

        li {
            margin: 0;
        }

        li::before {
            display: none;
        }

        .rich-text {
            font-family: $sans;
            font-size: 0.8rem;
        }
    }
}

/* preliminary style to highlight an anchor link target (esp. for info links) */
:target {
    border-left: 3px solid $green;
    margin-left: -1rem;
    padding-left: 1rem;
}
