div.main,
article.main {
    @include flex-container;
    padding: 1.5rem 0;

    @media (min-width: $breakpoint-s) {
        padding: 2rem 0;
    }

    @media (min-width: $breakpoint-l) {
        padding: 2.5rem 0;
    }

    .attribution {
        margin-bottom: 2rem;

        .authors,
        .editors,
        .pubdate,
        .update {
            font-size: 0.8rem;
            display: block;
        }
    }
}