a.read-more {
    width: 6rem;
    height: 2rem;
    font-size: 0.8rem;
    border: 2px solid $black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    color: black;

    &:hover {
        border: 2px solid $black;
        background: $black;
        color: white;
    }
}

button {
    padding: 2px 7px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(106, 106, 106, 0.5);
}