#page-footer {
    @include container;
    padding: 1rem 0;
    flex: none;
    background: $white;
    max-width: calc(#{$breakpoint-m} - 4rem);

    @media (min-width: $breakpoint-s) {
        padding: 4rem 0 1rem;
    }

    .nav-logos {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        line-height: 1.25;
        position: relative;
    }

    a,
    span {
        text-decoration: none;
        color: $brownish-grey;
        font-size: .6rem;
    }

    .pending::after {
        content: '*';
    }

    a {
        transition: color 0.2s;

        &:hover, &:focus {
            color: black;
        }
    }

    nav {
        margin: 0 auto;

        @media (min-width: $breakpoint-s) {
            margin: 0;
        }

        ul {
            display: inline-block;
            vertical-align: top;
        }

        .secondary {
            margin-left: 2rem;
        }

        li {
            padding-bottom: .2rem;
        }

        a,
        span {
            text-transform: uppercase;
        }
    }

    #sco-logo {
        flex: none;
        width: 7rem;
        display: block;
        margin: 1rem auto;

        @media (min-width: $breakpoint-s) {
            margin: 0;
            position: absolute;
            left: calc(50% - 3.5rem);
            top: 0;
        }

        img {
            width: 100%;
        }
    }

    .logos-social {
        display: flex;
        flex-direction: column;
    }

    .logos,
    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .social {
        margin-top: 1rem;
        justify-content: center;

        @media (min-width: $breakpoint-s) {
            justify-content: flex-end;
        }

        img {
            width: 1rem;
            height: 1rem;
            margin-left: .75rem;
        }
    }

    #pu-logo img {
        width: 6.5rem;

        @media (min-width: $breakpoint-m) {
            width: 8rem;
        }
    }

    #cdh-logo {
        margin-left: 1rem;

        @media (min-width: $breakpoint-m) {
            margin-left: 2rem;
        }

        img {
            width: 5rem;
        }
    }

    .links {
        width: 100%;
        padding-top: 1rem;
        display: flex;
        flex-flow: row wrap;

        a,
        span {
            display: inline-block;
            flex: auto;
        }

        .note {
            flex: none;
            width: 100%;
            margin-bottom: 0.5rem;

            &::before {
                content: '*';
            }

            @media (min-width: $breakpoint-s) {
                flex: auto;
                width: fit-content;
                margin-bottom: 0;
            }
        }

        #a11y-assist {
            text-align: left;

            @media (min-width: $breakpoint-s) {
                flex: none;
            }
        }

        #copyright {
            @media(min-width: $breakpoint-s) {
                flex: none;
                margin-left: 2rem;
            }
        }

        #sw-version {
            text-align: right;
        }
    }
}