/* basic header */
#page-header {
    flex: none;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0;
    background: $white;
    background-repeat: no-repeat;

    @media (min-width: $breakpoint-s) {
        padding: 1rem 0;
    }

    h1 {
        display: flex;
        flex: auto;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        font-size: 1.4rem;

        @media (min-width: $breakpoint-s) {
            display: block;
            height: fit-content;
            font-size: 2.5rem;
            padding: 0;
        }
    }

    // hide and selectively display parts of the header
    .bookmark,
    .logotype,
    .chevron,
    .tagline {
        display: none;
    }

    .logotype {
        width: 12rem;
        margin: 0 auto;

        @media (min-width: $breakpoint-s) {
            display: block;
        }
    }

    .chevron {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 2rem;

        @media (min-width: $breakpoint-l) {
            width: 4rem;
        }
    }

    &.detail { // added space for detail pages
        h1 {
            height: inherit;
            padding-top: 3rem;
            padding-bottom: 0.5rem;

            @media (min-width: $breakpoint-s) {
                padding: 0;
            }
        }
    }
}

/* header with banner image and 'bookmark' shape */
#page-header.banner {
    &.about {
        @include responsive-banner('/static/img/headers/SCo_banner_about');
    }

    &.analysis {
        @include responsive-banner('/static/img/headers/SCo_banner_anlys');
    }

    &.sources {
        @include responsive-banner('/static/img/headers/SCo_banner_src');
    }

    padding: 0;
    height: 22.5rem;
    z-index: -2;
    background-position: bottom;
    background-size: auto 20rem;

    @media (min-width: $breakpoint-s) {
        height: 18rem;
        background-size: cover;
        background-position: center;
    }

    @media (min-width: $breakpoint-l) {
        height: 30rem;
        background-position: top;
    }

    h1 {
        font-size: 1.4rem;
        
        @media (min-width: $breakpoint-s) {
            display: block;
            height: fit-content;
            padding-top: 0.75rem;
        }

        @media (min-width: $breakpoint-l) {
            font-size: 2.5rem;
        }
    }

    .logotype {
        width: 10rem;

        @media (min-width: $breakpoint-s) {
            display: block;
        }

        @media (min-width: $breakpoint-l) {
            width: 12rem;
        }
    }

    .bookmark {
        z-index: -1;
        width: 13rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;

        @media (min-width: $breakpoint-s) {
            display: block;
        }

        @media (min-width: $breakpoint-l) {
            width: 18rem;
        }
    }

    .chevron {
        display: block;
        bottom: 2.5rem;

        @media (min-width: $breakpoint-s) {
            bottom: 1rem;
        }
    }
}

/* homepage header */
#page-header.home {
    @include responsive-banner('/static/img/headers/SCo_home');

    height: 20rem;
    background-position: center;
    background-size: cover;
    
    @media (min-width: $breakpoint-s) {
        height: 27rem;
    }

    @media (min-width: $breakpoint-l) {
        height: 45rem;
    }

    h1 {
        display: none;
    }

    .logotype {
        display: block;
        width: 100%;
        padding-top: 4rem;

        @media (min-width: 460px) and (max-width: $breakpoint-s) {
            width: 460px;
        }

        @media (min-width: $breakpoint-s) {
            padding-top: calc(10rem - 5%);
            width: 65%;
        }

        @media (min-width: $breakpoint-l) {
            padding-top: 12rem;
            width: 60%;
        }

        @media (min-width: $breakpoint-xl) {
            width: 58rem;
        }
    }

    .tagline {
        display: block;
        margin: 0 auto;
        font-family: $serif;
        font-style: italic;
        font-size: 0.8rem;
        max-width: 10rem;
        padding-top: 1rem;
        padding-bottom: 8.5rem;

        @media (min-width: 460px) and (max-width: $breakpoint-s) {
            padding-top: 0.5rem;
        }

        @media (min-width: $breakpoint-s) {
            padding-top: 0;
            max-width: none;
        }

        @media (min-width: $breakpoint-m) {
            font-size: 1rem;
        }

        @media (min-width: $breakpoint-l) {
            font-size: 1.4rem;
        }
    }

    .chevron {
        display: block;
        bottom: .5rem;

        @media (min-width: $breakpoint-s) {
            bottom: 10rem;
        }

        @media (min-width: $breakpoint-m) {
            bottom: 7rem;
        }

        @media (min-width: $breakpoint-l) {
            bottom: 16rem;
        }

        @media (min-width: $breakpoint-xl) {
            bottom: 14rem;
        }
    }
}

/* search pages header; can stick to top on mobile */
#page-header.search {
    position: fixed;
    z-index: 1;

    @media (min-width: $breakpoint-s) {
        position: relative;
    }
}

/* error page header: h1 is moved down, lots of margin */
#page-header.error {

    .logotype {
        display: block;
        margin-top: 2rem;
        margin-bottom: 6.5rem;

        @media (min-width: $breakpoint-s) {
            margin-bottom: 7.5rem;
        }

        @media (min-width: $breakpoint-m) {
            margin-top: 0;
            margin-bottom: 14rem;
        }
    }

    h1 {
        text-transform: none;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 7rem;

        @media (min-width: $breakpoint-s) {
            font-size: 1.4rem;
            top: 10rem;
        }

        @media (min-width: $breakpoint-m) {
            font-size: 3rem;
        }
    }
}