main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    &.white {
        background: white;
    }
}

// on search pages on mobile the header can be fixed so we need offset main content
#page-header.search ~ main {
    margin-top: 2.5rem;

    @media (min-width: $breakpoint-s) {
        margin-top: 0;
    }
}

// tabbed pages, like member or book details
main.tabbed {

    nav.tabs {
        width: 100%;
        background: $white;
    }

    nav + section {
        @include container;
        flex: auto;
        background: white;
        display: flex;
        flex-direction: column;

        // subsections
        section {
            width: 100%;
            border-bottom: 0.05rem solid $white-two;

            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}

// error pages
main.error {
    img {
        margin: 0 auto;

        &.e404 {
            width: 205px;

            @media (min-width: $breakpoint-s) {
                width: 513px;
            }

            @media (min-width: $breakpoint-m) {
                width: 615px;
            }
        }

        &.e500 {
            width: 270px;

            @media (min-width: $breakpoint-s) {
                width: 675px;
            }

            @media (min-width: $breakpoint-m) {
                width: 811px;
            }
        }
    }
}