main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    &.white {
        background: white;
    }
}

// on search pages on mobile the header can be fixed so we need offset main content
#page-header.search ~ main {
    margin-top: 2.5rem;

    @media (min-width: $breakpoint-s) {
        margin-top: 0;
    }
}

// tabbed pages, like member or book details
main.tabbed {

    nav.tabs {
        width: 100%;
    }

    nav + section {
        @include padding-container;
        padding-top: 1rem;
        flex: auto;
        background: white;

        @media (min-width: $breakpoint-s) {
            padding-top: 2rem;
        }
    }
}