// global leaflet map styles

// zoom controls
.leaflet-control-zoom {
    a {
        // larger controls on tablet and desktop
        @media (min-width: $breakpoint-s) {
            width: 50px !important;
            height: 50px !important;
            line-height: 50px !important;
            font-size: 30px !important;
        }

        // don't add the green underline hover/focus style
        &:hover,
        &:focus {
            border-bottom: 1px solid #ccc;
        }
    }
}
