.subpages {
    @include padding-container;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: white;

    @media (min-width: $breakpoint-s) {
        justify-content: space-between;
    }
}

article.preview {
    width: 100%;
    max-width: 20rem;
    text-align: center;
    padding: 1rem 0;

    @media (min-width: $breakpoint-s) {
        width: 50%;
    }

    hr {
        width: 2.5rem;
        margin-top: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }
}

