.preview {
    width: 100%;
    height: fit-content;
    text-align: center;
    background: white;
    border: none;
    display: block;
    box-sizing: border-box;
    padding: 1.5rem $gutter-xs; // content + tile scales on mobile
    transition: 0.2s all ease-in-out;
    margin-bottom: 0.2rem;

    &:hover, &:focus {
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.23);
        z-index: 1;
        border: none;
    }

    // content fixed to 500px but tile scales on tablet
    @media (min-width: $breakpoint-s) {
        padding: 2rem calc((100vw - 500px) / 2);
    }

    // tile + content fixed on desktop
    @media (min-width: $breakpoint-m) {
        padding: 2rem 4rem;
        margin-bottom: 0;
    }

    hr {
        width: 2.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .meta {
        font-family: $serif;
        color: $brownish-grey;
        margin-bottom: 0.5rem;
    }

    p {
        font-family: $serif;
        text-align: left;
        margin: 0 auto;
    }

    picture {
        width: 320px;
        height: 190px;
        overflow: hidden;
        display: block;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: calc(#{$breakpoint-xs} + #{$gutter-xs} * 2)) {
            margin-left: -$gutter-xs;
            margin-right: -$gutter-xs;
        }

        @media (min-width: $breakpoint-s) {
            height: 300px;
            width: 500px;
        }

        @media (min-width: $breakpoint-m) {
            height: 210px;
            width: 355px;
        }

        img {
            width: 100%;
        }
    }
}

