/* common search result styles */

.result {

    // override two-part layout to allow on mobile
    dl {
        flex-wrap: wrap; 
        @media (min-width: $breakpoint-s) { flex-wrap: nowrap; }

        .secondary {
            width: 100%;
            padding-left: 0;

            @media (min-width: $breakpoint-s) {
                width: initial;
                padding-left: 1rem;
            }
        }   
    }

    // relevance bar & score display
    .relevance {
        .score {
            font-size: .5rem;
            vertical-align: middle;
        }
        
        progress { max-width: 4rem; }
    }
}