select {
    position: relative;
    appearance: none;
    font-family: $sans;
    font-size: 0.7rem;
    padding: 8px 8px 5px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(106, 106, 106, 0.5);
    background: white;
    border-radius: 0;

    option {
        color: black;
    }
}

label > select + .dropdown.icon {
    width: .75rem;
    height: .5rem;
    position: absolute;
    right: .5rem;
    top: calc(50% - .25rem);
    filter: invert(100%);
    transition: all 0.2s;
}

label:target > select + .dropdown.icon {
    transform: rotate(180deg);
}