// list of sub-pages that displays on landing pages: about, sources, analysis
// name of landing page will be added as a class in template to control styling

$subpages-gutter: 4px;

.subpages {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > * {
        box-sizing: border-box;
    }

    // used only on desktop for masonry
    .grid-sizer,
    .gutter-sizer {
        display: none;
        flex: none;
    }

    // don't display publication date by default
    time {
        display: none;
    }

    // layout is managed by masonry js on desktop
    @media (min-width: $breakpoint-m) {
        display: block;
        width: $breakpoint-m;
        margin: 0 auto;

        .grid-sizer,
        .gutter-sizer {
            display: block;
        }

        .grid-sizer {
            width: calc(50% - #{$subpages-gutter} / 2);
        }

        .gutter-sizer {
            width: $subpages-gutter;
        }

        .preview {
            width: calc(50% - #{$subpages-gutter} / 2);
            margin-bottom: $subpages-gutter;
        }
    }

    // essay landing page subtype, subpages are essays
    // used for analysis
    &.essays {
        // display publication date
        time {
            display: inline;
        }
    }

    // about landing page
    &.about {
        // hide descriptions
        .preview p {
            display: none;
        }
    }
}