nav.tabs {
    display: flex;
    justify-content: center;
    align-items: center;

    .tab {
        flex: 1;
        list-style: none;
        height: 2.5rem;

        &[aria-selected] {
            border-bottom: .2rem solid $green;
            font-weight: bold;

            a, span {
                font-size: 0.7rem;

                @media (min-width: $breakpoint-s) {
                    font-size: 0.9rem;
                }
            }
        }

        &.pending {
            color: $mid-grey;

            > *::after {
                content: '*';
                // position: absolute;
            }
        }
    }

    &.subsection {
        background: #fafafa;
        box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 2.5rem;

        .tab:first-child {
            border-right: 1px solid $white-two;
        }
    }


    a, span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        text-transform: uppercase;
        font-size: 0.5rem;

        @media (min-width: $breakpoint-s) {
            font-size: 0.9rem;
        }
    }

    a { // remove default link style
        border: none;
    }
}