span[role=tooltip] {
    width: 0.75rem;
    height: 0.75rem;
    background: url('/static/img/icons/Information.svg');
    background-repeat: no-repeat;
    background-position: center;

    &::before { // used to draw the triangle
        content: '';
        right: -0.1rem;
        bottom: .25rem;
        width: 0;
        height: 0;
        border: 0.5rem solid transparent;
        border-top-color: white;
        z-index: 3;
    }

    &::after { // where the text is located
        content: attr(aria-label); // automatically set based on parent aria-label
        right: -0.5rem;
        bottom: 1.1rem;
        font-size: 0.7rem;
        color: $brownish-grey;
        text-align: left;
        line-height: 1.14;
        padding: 0.4rem 0.8rem;
        background-color: white;
        z-index: 2;
        box-shadow: $tooltip-shadow;
    }
    
    &::before,
    &::after {
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &:hover,
    &:focus,
    &.active { // show when hovered, focused or clicked/tapped
        &::before,
        &::after {
            opacity: 1;
        }
    }
}