{% extends 'base.html' %}
{% load static humanize widget_tweaks %}
{% load render_bundle from webpack_loader %}

{% block css %}{% render_bundle 'search' 'css' %}{% endblock %}

{% block js %}{% render_bundle 'search' 'js' attrs='defer' %}{% endblock %}

{% block page-subtitle %}Library Members · {% endblock %}

{% block header %}
{% include 'snippets/header.html' with title="members" style="search" %}
{% endblock %}

{% block main-style %}white{% endblock %}

{% block content %}
<section class="members search-form">
    <form id="members-form">
        <fieldset>
            {% render_field form.query aria-label=form.query.label %}
            <span class="search-icon"></span>
        </fieldset>
        <span class="total-results">{{ members.count|intcomma }} total result{{ members.count|pluralize }}</span>
    </form>
</section>
<section class="members sort-pages">
    <div class="inner">
        <label class="sort">
            <span>SORTED BY</span>
            {% render_field form.sort form="members-form" %}
            <img class="dropdown icon" src="{% static 'img/icons/chevron_down.png' %}" alt="">
        </label>
        <button type="submit" form="members-form">Go</button>
        {% include 'snippets/pagination.html' with form="members-form" %}
    </div>
    {% if page_obj.has_other_pages %} {# if only one page of results, don't show next/previous links #}
    <div class="outer">
        {% include 'snippets/page-controls.html' %}
    </div>
    {% endif %}
</section>
<ol class="members results-list" style="counter-reset: results {{ page_obj.start_index|add:'-1' }};">
    {% for person in members %}
        {% include 'people/snippets/member_result.html' with member=person %}
    {% endfor %}
</ol>
{% endblock %}