{% extends 'base.html' %}
{% load humanize %}
{% load render_bundle from webpack_loader %}

{% block css %}{% render_bundle 'search' 'css' %}{% endblock %}

{% block js %}{% render_bundle 'search' 'js' %}{% endblock %}

{% block page-subtitle %}Library Members · {% endblock %}

{% block header %}
{% include 'snippets/header.html' with title="members" %}
{% endblock %}

{% block main-style %}white{% endblock %}

{% block content %}
<p>{{ members.count|intcomma }} result{{ members.count|pluralize }} –
   displaying {{ page_obj.start_index }} - {{ page_obj.end_index }}</p>
<ol class="members results-list" start="{{ page_obj.start_index }}">
    {% for person in members %}
        {% include 'people/snippets/member_result.html' with member=person %}
    {% endfor %}
</ol>
{% endblock %}