{% extends 'base.html' %}
{% load static mep_tags %}

{% block page-subtitle %}{{ member.name }} · Library Members · {% endblock %}

{% block js %}
<script src="{% static 'js/d3.v5.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}

{% block header %}
{% include 'snippets/header.html' with title=member.name style="detail" %}
{% endblock %}

{% block main-style %}tabbed white{% endblock %}

{% block content %}
{% include 'snippets/breadcrumbs.html' %}
<nav class="tabs" aria-label="sections">
    <li class="tab" aria-selected="true">
        <a href="{% url 'people:member-detail' pk=member.pk %}">biography</a>
    </li>
    <li class="tab">
        <a href="{% url 'people:membership-activities' pk=member.pk %}">activities</a>
    </li>
    <li class="tab">
        <a href="#">cards</a>
    </li>
</nav>
{% with account_start=member.account_set.first.earliest_date account_end=member.account_set.first.last_date %}
<section class="biography" aria-label="biography">
    <div class="details">
        {% include 'people/snippets/member_result.html' %}
    </div>
    {% if account_start %}
    <div class="timeline">
        <p class="description" id="member-timeline-desc">Member timeline showing activity
          {% if account_end and account_start != account_end %}
          from {{ account_start.year }} to {{ account_end.year }}{% else %}
          for {{ account_start.year }}{% endif %}.
        See the activities tab for more details.</p>
    </div>
    {% endif %}

    <div class="map"></div>
</section>
{% if account_start %}
{% include 'people/snippets/member_graph.html' %}
{% endif %}
{% endwith %}
{% endblock %}