{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block page-subtitle %}{{ member.firstname_last }} Membership Activity · Library Members · {% endblock %}

{% block js %}
{% render_bundle 'activities' 'js' %}
{% endblock %}

{% block header %}
{% include 'snippets/header.html' with title=member.firstname_last style="detail" %}
{% endblock %}

{% block main-style %}tabbed white{% endblock %}

{% block content %}
{% include 'snippets/breadcrumbs.html' %}
<nav class="tabs" aria-label="sections">
    <li class="tab">
        <a href="{% url 'people:member-detail' slug=member.slug %}">biography</a>
    </li>
    <li class="tab" aria-selected="true">
        <a href="{% url 'people:membership-activities' slug=member.slug %}">activities</a>
    </li>
    <li class="tab pending">
        <span>cards</span>
    </li>
</nav>

<nav class="tabs subsection" aria-label="Activities">
    <li class="tab pending">
        <span>Borrowing</span>
    </li>
    <li class="tab" aria-selected="true">
        <a href="{% url 'people:membership-activities' slug=member.slug %}">Membership</a>
    </li>
</nav>

<div class="activities">

    {% comment %} preliminary form controls for sorting and expand/collapse on mobile
    <form id="activity-mobile-control">
        <label class="sort">
            <span>SORTED BY</span>
            <select>
                <option value="1">Type</option>
                <option value="2">Category</option>
                <option value="3">Duration</option>
                <option value="4" selected="selected">Start Date</option>
                <option value="5">End Date</option>
                <option value="6">Amount</option>
            </select>
            <img class="dropdown icon" src="{% static 'img/icons/chevron_down.png' %}" alt="">
        </label>
        <button id="expand">Expand all</button>
    </form>
    {% endcomment %}

    {% if not event_list.count %}
    <p>No documented membership activity.</p>
    {% else %}
    <table id="activity-table">
        <thead>
            <tr>
                <th>Type</th>
                <th aria-describedby="category-tip" data-sort-method="none">Category
                    <span id="category-tip" role="tooltip" class="question"
                        aria-label="{{ category_tooltip }}" tabindex=0
                        onclick="event.preventDefault()"/>
                </th>
                <th data-sort-method="number">Duration</th>
                <th data-sort-default>Start Date</th>
                <th>End Date</th>
                <th data-sort-method="number">Amount</th>
            </tr>
        </thead>
        {% for event in event_list %}
        <tr>
            <td class="type">{{ event.event_type }}</td>
            <td class="category">{{ event.subscription.category|default:'-' }}</td>
            <td class="duration" data-sort="{{ event.subscription.duration|default:0 }}">{{ event.subscription.readable_duration|default:'-' }}</td>
            <td class="start" data-sort="{{ event.start_date|date:"Ymd" }}">{{ event.start_date|default:'-' }}</td>
            <td class="end" data-sort="{{ event.end_date|date:"Ymd" }}">
                {% if event.reimbursement %} - {% else %}{{ event.end_date|default:'-' }}{% endif %}
            </td>
            {# amount is either subscription price or refund amount; refund is negative #}
            {% with subscription_price=event.subscription.price_paid refund=event.reimbursement.refund %}
            <td class="amount" data-sort="{% if refund %}-{% endif %}{% firstof subscription_price refund 0 %}">
                {# only display currency if there is a value #}
                {% if refund %}-{% endif %}{% firstof subscription_price|floatformat refund|floatformat '-' %}{% if subscription_price or refund %} {% firstof event.subscription.currency_symbol event.reimbursement.currency_symbol '' %}{% endif %}
            {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}