{% extends 'base.html' %}
{% load static humanize %}
{% load render_bundle from webpack_loader %}

{% block css %}{% render_bundle 'search' 'css' %}{% endblock %}

{% block js %}{% render_bundle 'search' 'js' %}{% endblock %}

{% block page-subtitle %}Library Members · {% endblock %}

{% block header %}
{% include 'snippets/header.html' with title="members" style="search" %}
{% endblock %}

{% block main-style %}white{% endblock %}

{% block content %}
<section class="members search-form">
    <span class="total-results">Displaying {{ members.count|intcomma }} result{{ members.count|pluralize }}</span>
</section>
<section class="members sort-pages">
    <form>
    <div class="inner">
        <label>
            <span>SORTED BY</span>
            <select class="sort">
                <option selected>Last Name A-Z</option>
                <option disabled>Relevance</option>
            </select>
            <img class="dropdown icon" src="{% static 'img/icons/chevron_down.png' %}" alt="">
        </label>
        <label>
            <span>DISPLAYING</span>
            <select name="page" class="pagination">
                {% for value, label in pagination_options %}
                <option value="{{ value }}" {% if page_obj.number == value %}selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
            <img class="dropdown icon" src="{% static 'img/icons/chevron_down.png' %}" alt="">
        </label>
        <input type="submit" value="Go"/>
    </div>
    <div class="outer">
        <a rel="prev" {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% else %} class="inactive"{% endif %}>
            <img class="previous icon" src="{% static 'img/icons/chevron_down.png' %}" alt="">
            Previous
        </a>
        <a rel="next" {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% else %} class="inactive"{% endif %}>
            Next
            <img class="next icon" src="{% static 'img/icons/chevron_down.png' %}" alt="">
        </a>
    </div>
</form>
</section>
<ol class="members results-list" style="counter-reset: results {{ page_obj.start_index|add:'-1' }};">
    {% for person in members %}
        {% include 'people/snippets/member_result.html' with member=person %}
    {% endfor %}
</ol>
{% endblock %}