// book detail page styles

section[aria-label=bibliography] {
    max-width: calc(#{$breakpoint-s} - #{$breakpoint-xs});

    .split {
        display: flex;
        flex-direction: row;
        margin: 2.5rem 0;

        + .volumes-issues {
            margin-top: 0;
        }
    }

    .left { flex: auto; }

    .right {
        flex: none;
        text-align: right;
    }

    .notes { margin-top: 2rem; }
    .notes dt { @include sr-only; }
    .notes dd { margin: 0; }

    /* uncertainty icon is displayed above the notes on mobile; to the left on
        all other screens */
    .notes.uncertain {
        position: relative;
        margin-top: 2.75rem;    // create extra space on top

        &::before {
            content: url('/static/img/icons/uncertainty.svg');
            width: .75rem;
            height:  .75rem;
            position: absolute;
            bottom: 1.75rem;
        }

        @media (min-width: $breakpoint-s) {
            margin-top: 2rem;

            &::before {
                bottom: .5rem;
                left: -1rem;
            }
        }
    }

    .format {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font-size: 0.8rem;
        padding: .4rem .5rem .25rem;
        border: 1px solid $light-grey;
        line-height: .75rem;
    }

    a.read {
        display: block;
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin-top: 1rem;
    }

    .volumes-issues {
        margin-top: 2rem;
        margin-bottom: 2.5rem;

        h2 {
            font-family: $sans;
            text-transform: capitalize;
            line-height: .7rem;
            font-size: .7rem;
            font-weight: bold;
        }

        li {
            margin-top: .35rem;
            font-size: .8rem;
            line-height: 1.2rem;
        }

        em {
            font-style: italic;
        }
    }
}
