/* single book search result styles */

.books.result {

    // some headings are only read via SRs since they're implied visually
    dt.title,
    dt.author,
    dt.pubdate {
        @include sr-only;
    }

    // empasized title display
    dd.title {
        font-size: 1rem;
        font-family: $serif;
    }

    // add spacing on left side
    dd.author {
        margin-top: .5rem;
        + dd.author { margin-top: 0; }
    }
    dd.pubdate { margin-top: .5rem; }

    // show the uncertainty icon if present
    &.uncertain {

        // on mobile, the icon is positioned relative to the "primary"
        // portion of the result
        @media (max-width: calc(#{$breakpoint-s} - 1px)) {

            .primary {
                position: relative;

                &::after {
                    content: url('/static/img/icons/uncertainty.svg');
                    width: .75rem;
                    height:  .75rem;
                    position: absolute;
                    bottom: -1rem;
                }
            }
        }

        // on tablet/desktop, the icon is positioned relative to the counter
        // portion of the result
        @media (min-width: $breakpoint-s) {

            .counter {
                position: relative;

                &::before {
                    content: url('/static/img/icons/uncertainty.svg');
                    width: .75rem;
                    height:  .75rem;
                    position: absolute;
                    left: -1.25rem;
                }
            }
        }
    }
}
