.books .result article.item.details {
    // show the title
    .title {
        display: inline;
    }

    // hide the "creators" label
    .creator-label {
        display: none;
    }

    // hide the "view cards" link
    .view-cards {
        display: none;
    }
}