.books.result {

    .primary {
        flex: 2;
    }

    // show the title
    .title {
        display: block;
    }

    .authors dt,
    .pubdate dt {
        @include sr-only;
    }

    .authors dd {
        margin-top: 0.5rem;
    }

    .pubdate dd {
        margin-top: 0.75rem;
    }

    // hide the "view cards" link
    .view-cards {
        display: none;
    }
}