{% with id=widget.attrs.id name=widget.attrs.name %}
    <fieldset class="facet">
    <legend>{{ name }}</legend>
    {% for group, options, index in widget.optgroups %}
        {% for option in options %}
           <input type="checkbox"
            name="{{ name|lower }}"
            id="{{ option.attrs.id }}"
            {% if widget.required %} required {% endif %}
            {% include "django/forms/widgets/attrs.html" %}/>
           <label for="{{ option.attrs.id }}">
                {{ option.label }}
            </label>
        {% endfor %}
    {% endfor %}
     </fieldset>
{% endwith %}