Django>=2.0,<2.1
mysqlclient<1.4
django-grappelli<2.11
cached_property
# require cas-ng to <4.0 since 4 is now out and requires django 2.2
django-cas-ng<4.0
pucas>=0.6
eulxml
# 0.2 viapy when released
git+https://github.com/Princeton-CDH/viapy.git@feature/django-upgrade#egg=viapy
#viapy
wagtail>=2.3,<2.4 # 2.4+ requires django 2.0
django-autocomplete-light<3.3
python-dateutil
django-apptemplates
py-flags
django-tabular-export
django-webpack-loader
parasolr>=0.5.1
django-widget-tweaks
pymarc
progressbar2
rdflib
rdflib-jsonld
# require jsonfield (dep of djiffy) pre 3.0, since 3 requires django 2.2
jsonfield<3.0
# 0.6 djiffy when released
git+https://github.com/Princeton-CDH/djiffy.git@feature/django-upgrade#egg=viapy
#djiffy
django-csp
bleach
django-fullurl
unidecode