Django>=1.11,<2.0
mysqlclient<1.4
django-grappelli<2.11
cached_property
# required to avoid url route issues
django-cas-ng<3.6
pucas
# require pendulum 1.5; not compatible with 2.0
pendulum==1.5.0
eulxml
viapy
wagtail>=2.3,<2.4
django-autocomplete-light<3.3
python-dateutil
django-apptemplates
py-flags
django-tabular-export
django-webpack-loader
# requires functionality in develop; next version should be 0.2
# parasolr>=0.2
git+https://github.com/Princeton-CDH/parasolr@develop#egg=parasolr
django-widget-tweaks