Django>=1.11,<2.0
mysqlclient<1.4
django-grappelli<2.11
cached_property
pucas>=0.6
eulxml
viapy
wagtail>=2.3,<2.4
django-autocomplete-light<3.3
python-dateutil
django-apptemplates
py-flags
django-tabular-export
django-webpack-loader
parasolr>=0.4
django-widget-tweaks
pymarc
progressbar2
rdflib
rdflib-jsonld
djiffy