// active filters display
.active-filters {
    margin-top: 1rem;
    font-size: .8rem;
    @media (min-width: $breakpoint-s) { margin-top: 3rem; }

    > .inner {
        @include flex-gap(.3rem);
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        align-items: center;
        @media (min-width: $breakpoint-s) { justify-content: center; }
    }

    .legend, a {
        flex: none;
    }

    .legend {
        width: 100%;
        text-align: left;
        margin-bottom: .5rem;

        @media (min-width: $breakpoint-s) {
            width: initial;
            padding-right: .6rem;
            margin-bottom: 0;
        }
    }

    a:not(.clear-all) {
        padding: .2rem .4rem;
        background: white;
        text-decoration: none;
        &::after { content: ' ×'; }
    }

    .clear-all {
        width: 100%;
        text-align: right;
        margin-top: .5rem;
        color: $dark-green;

        @media (min-width: $breakpoint-s) {
            width: initial;
            padding-left: .6rem;
            margin-top: 0;
        }
    }
}
