.sort-pages {
    position: sticky;
    top: 2.5rem;
    background: white;
    width: 100%;
    z-index: 1;
    height: 2.5rem;
    transition: box-shadow 0.5s;
    
    @media (min-width: $breakpoint-s) {
        height: 3rem;
        top: 0;
    }

    @media (min-width: $breakpoint-l) {
        height: 4rem;
    }

    &.stuck {
        box-shadow: 0 2px 4px 0 rgba(106, 106, 106, 0.5);
    }

    .inner,
    .outer {
        height: 100%;
        display: flex;
        align-items: center;

        @media (min-width: $breakpoint-s) {
            margin: 0 3rem;
        }
        
        @media (min-width: $breakpoint-l) {
            margin: 0 4rem;
        }
    }

    .inner {
        justify-content: space-around;
        margin: 0 $gutter-xs;

        @media (min-width: $breakpoint-s) {
            justify-content: center;
            width: $result-width;
            margin: 0 auto;
        }

        @media (min-width: $breakpoint-m) {
            justify-content: space-between;
        }
    }

    .outer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
        pointer-events: none;

        @media (min-width: $breakpoint-s) {
            width: calc(#{$breakpoint-s} - 6rem);
        }

        @media (min-width: $breakpoint-m) {
            width: calc(#{$breakpoint-m} - 8rem);
        }

        @media (min-width: $breakpoint-l) {
            @include flex-container;
        }

        a {
            pointer-events: all;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border: none;
            font-size: 0.7rem;
            width: $gutter-xs;

            @media(min-width: $breakpoint-s) {
                width: fit-content;
            }
            
            span {
                display: none;
                
                @media (min-width: $breakpoint-s) {
                    display: block;
                }
            }

            &.inactive {
                pointer-events: none;
                cursor: default;
                color: #cccccc;

                .icon {
                    /* use opacity to make black image match #ccccc */
                    opacity: 0.2;
                }

            }
        }

        .icon {
            vertical-align: middle;
            filter: invert(100%);
            height: 0.7rem;

            &.previous {
                transform: rotate(90deg);
            }

            &.next {
                transform: rotate(-90deg);
            }
        }
    }

    label {
        font-size: 0.7rem;
        position: relative;
        background: linear-gradient(transparent, white);

        span {
            margin-right: 0.5rem;
            display: none;

            @media (min-width: $breakpoint-s) {
                display: inline;
            }
        }

        &::before {
            position: absolute;
            display: block;
            content: '';
            top: 0;
            right: 0;
            width: 6rem;
            height: 100%;
            z-index: 1;
            background: linear-gradient(to right, transparent 60%, white 75%);
            pointer-events: none;
        }

        .icon {
            z-index: 2;
        }
    }

    .pagination {
        @media (min-width: $breakpoint-s) {
            margin-left: 1rem;

            .no-js & {
                margin-left: 0;
            }
        }
    }

    button[type=submit] {
        display: none;
        margin: 0 .25rem;
        appearance: none;

        .no-js & {
            display: block;
        }
    }

    select {
        width: 6.5rem;
        font-size: 0.6rem;

        .no-js & {
            width: 6rem;
        }

        @media (min-width: $breakpoint-m) {
            width: 7rem;
            font-size: 0.7rem;
        }
    }
}