.search-form fieldset.facet {
    margin-top: .2rem;
    background: white;
    display: block;
    width: 100%;
    padding: 0.7rem;
    position: relative;

    > legend {
        position: absolute;
        top: 0.75rem;
        left: 0.7rem;
        padding: 0;
        display: block;
    }

    .choices {
        height: 100%;
        padding-top: 1.5rem;
        list-style: none;
    }

    .choice:hover {
        background: #f1f1f1;
    }
    
    legend,
    label {
        font-weight: normal;
        font-size: 0.8rem;
        display: block;
        text-align: left;
        margin: 0;
        border: 0;
        padding: 0 0.5rem;
    }

    label {
        color: $brownish-grey;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: padding 0.25s ease;

        &::before {
            content: '';
            opacity: 0;
            position: absolute;
            width: .75rem;
            height: .75rem;
            left: .5rem;
            top: calc(50% - (.75rem / 2));
            background-image: url("/static/img/icons/filter_clicked_state.svg");
            background-repeat: no-repeat;
            background-position: center;
            pointer-events: none;
            transition: opacity 0.25s ease;
        }

        .count {
            font-size: 0.6rem;
        }
    }

    input {
        // borrow .sr-only styles to hide it
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;

        &:checked + label {
            padding-left: 1.5rem;

            &::before {
                opacity: 1;
            }
        }
    }


    /**
     * CHOICE FACET - used for facets where all options are always shown, e.g.
     * 'gender' on members search and 'format' on books search
     */
    &.choice {
        @media (max-width: calc(#{$breakpoint-s} - 1px)) { // special styles only apply on mobile
            legend {
                padding: 0;
            }

            .choices {
                display: flex;
            }
    
            .choice {
                flex: 1;
                border: 1px solid $light-grey;
                padding-top: 0.1rem;
            }
    
            label {
                display: flex;
                flex-direction: column;
                padding: 0;
    
                &::before {
                    top: initial;
                    left: 0.2rem;
                    bottom: 0.2rem;
                }
            }
    
            input:checked + label {
                padding: 0;
            }
        }
    }

    /**
     * RANGE FACET - two numeric inputs representing a range of values
     */

    &.range {
        padding: 0 .5rem 0 0;
        height: 2.2rem;
        margin-bottom: .1rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        legend {
            position: absolute;
            top: .5rem;
            left: .5rem;
            padding: 0;
        }

        .separator {
            display: inline-block;
            padding: 0 .5rem;
            font-size: 0.7rem;
        }

        input {
            position: relative;
            display: inline-block;
            width: 2.4rem;
            height: 1.4rem;
            clip: auto;
        }

        @media (min-width: $breakpoint-s) {
            margin-bottom: 0;
            margin-right: .1rem;
        }
    }

    /**
     * TEXT FACET - used for facets where there can be many options, and those
     * with a count of zero will be hidden, e.g. 'nationality' on members
     */
     &.text {
        min-height: 12rem;
    }
}