.search-form {
    @include padding-container;

    height: 3rem;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    .total-results {
        font-family: $serif;
        font-style: italic;
        font-size: 0.8rem;
    }

    #members-form {
        width: 100%;
        text-align: center;
    }

    div {
        position: relative;
    }

    input[name=query] {
        width: calc(100% - 1rem);
        height: 1rem;
        margin-right: 1rem;
        font-family: $sans;
        font-size: 0.8rem;
        background-color: transparent;
        border: none;
        border-bottom: dotted 2px $black;
        outline: none;

        &::placeholder {
          color: $nearly-black;
          opacity: 1; /* Firefox */
        }
    }

    .search-icon {
        position: absolute;
        width: 1rem;
        height: 1rem;
        right: 0;
        bottom: 0;
        background-image: url('/static/img/icons/search.svg');
        background-position: center center;
    }

}