output.results .result {
    counter-increment: results;
    position: relative;
    border-top: 1px solid $white-two;

    a {
        border: none;
    }

    // show the result counter/icons in the details
    .counter {
        display: block;

        &::after {
            content: counter(results);
            font-size: 0.8rem;
            margin-right: 0.5rem;
        }
    }

    // can be displayed for debug purposes
    .relevance {
        font-size: 0.8rem;
    }

    // links to "see more" only shown on result details
    a:hover .see-more {
        visibility: visible;
    }

    .see-more {
        position: absolute;
        display: block;
        right: 0;
        bottom: 0.5rem;
        color: $dark-green;
        font-size: 0.7rem;
        font-weight: bold;

        @media (min-width: $breakpoint-s) {
            right: calc((100% - #{$result-width}) / 2);
        }

        @media (pointer: fine) { // hide "see more" on non-touch devices
            visibility: hidden;
        }

        .triangle.icon {
            height: .75rem;
            vertical-align: middle;
        }

        a:hover & {
            visibility: visible;
        }
    }
}