/* search result styles */

// single search result display
.result {
    counter-increment: results;
    position: relative;
    border-top: 1px solid $white-two;

    a { text-decoration: none; }

    .container {
        position: relative;
        display: flex;
        align-items: baseline;
        width: 100%;
        max-width: $result-width;
        height: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;
        border: none;
        margin: 0 auto;

        @media (min-width: $breakpoint-s) {
            flex-flow: row nowrap;
        }
    }

    // two-part layout: stacked on mobile; left/right flex on tablet+
    dl {
        display: flex;
        flex: auto;
        flex-flow: row wrap;
        @media (min-width: $breakpoint-s) { flex-flow: row nowrap; }

        .primary {
            flex: auto;
            text-align: left;
        }

        .secondary {
            flex: none;
            text-align: right;
            @media (min-width: $breakpoint-s) { padding-left: 1rem; }
            @media (max-width: calc(#{$breakpoint-xs} + 1px)) { width: 100%; }
        }

        // spacing for stacked fields
        .primary > div + div,
        .secondary > div + div {
            margin-top: .35rem;
        }
    }

    // show the result counter/icons in the details
    .counter {
        display: block;

        // used to position "has card" icon when on tablet & larger
        @media (min-width: $breakpoint-s) {
            position: relative;
        }

        &::after {
            content: counter(results);
            font-size: 0.8rem;
            margin-right: 0.5rem;
        }
    }

    // can be displayed for debug purposes
    .relevance {
        font-size: 0.8rem;
    }

    // links to "see more" only shown on hover
    a:hover .see-more {
        visibility: visible;
    }

    .see-more {
        position: absolute;
        display: block;
        right: 0;
        bottom: 0.5rem;
        color: $dark-green;
        font-size: 0.7rem;
        font-weight: bold;
        margin-right: 0.7rem;

        @media (min-width: $breakpoint-s) {
            right: calc((100% - #{$result-width}) / 2);
        }

        @media (pointer: fine) { // hide "see more" on non-touch devices
            visibility: hidden;
        }

        &::after { // green triangle
            content: '';
            background-image: url('/static/img/icons/more_triangle.svg');
            background-repeat: no-repeat;
            position: absolute;
            height: .7rem;
            width: .7rem;
            top: 0.15rem;
            right: -1rem;
        }

        .triangle.icon {
            height: .75rem;
            vertical-align: middle;
        }

        a:hover & {
            visibility: visible;
        }
    }
}

// empty results display
.empty-results {
    @include padding-container;
    padding-top: 3.5rem;
    text-align: center;
    font-family: $serif;
    min-height: 8rem;

    img {
        width: 50%;
    }
}