.result {
    counter-increment: results;
    position: relative;
    border-top: 1px solid $white-two;

    a {
        border: none;
    }

    .container {
        position: relative;
        display: flex;
        align-items: baseline;
        width: 100%;
        max-width: $result-width;
        height: 100%;
        padding-top: 1rem;
        padding-bottom: 2rem;
        border: none;
        margin: 0 auto;

        @media (min-width: $breakpoint-s) {
            flex-flow: row nowrap;
        }
    }

    // remove extra margin in details
    dl dd {
        margin-bottom: 0;
    }

    // show the result counter/icons in the details
    .counter {
        display: block;

        // used to position "has card" icon when on tablet & larger
        @media (min-width: $breakpoint-s) {
            position: relative;
        }

        &::after {
            content: counter(results);
            font-size: 0.8rem;
            margin-right: 0.5rem;
        }
    }

    // can be displayed for debug purposes
    .relevance {
        font-size: 0.8rem;
    }

    // links to "see more" only shown on hover
    a:hover .see-more {
        visibility: visible;
    }

    .see-more {
        position: absolute;
        display: block;
        right: 0;
        bottom: 0.5rem;
        color: $dark-green;
        font-size: 0.7rem;
        font-weight: bold;
        margin-right: 0.7rem;

        @media (min-width: $breakpoint-s) {
            right: calc((100% - #{$result-width}) / 2);
        }

        @media (pointer: fine) { // hide "see more" on non-touch devices
            visibility: hidden;
        }

        &::after { // green triangle
            content: '';
            background-image: url('/static/img/icons/more_triangle.svg');
            background-repeat: no-repeat;
            position: absolute;
            height: .7rem;
            width: .7rem;
            top: 0.15rem;
            right: -1rem;
        }

        .triangle.icon {
            height: .75rem;
            vertical-align: middle;
        }

        a:hover & {
            visibility: visible;
        }
    }
}