{% extends "admin/change_form.html" %}
{% comment %}
Custom person change form template to display relationships to this person
(which are only editable on the related person's edit form).
Uses Grappelli classes and div structure to simulate the same look
as the inline edit form.
{% endcomment %}

{% load i18n admin_modify admin_urls grp_tags %}

{% block after_field_sets %}
  {# display account subscription and reimbursement information to provide context for the person #}
  {% if original.account_set.exists %}
    {% for account in original.account_set.all %}
      <div class="inline-group grp-group grp-tabular">
        <h2 class="grp-collapse-handler"> {# link to account edit page #}
            <a href="{% url 'admin:accounts_account_change' account.id %}">{{ account }}</a></h2>

        {% if account.subscription_set.exists or account.reimbursement_set.exists %}
         <div class="tabular inline-related grp-module grp-table">
            <div class="module grp-module grp-thead">
                <div class="grp-tr">
                    <div class="grp-th">Event Type/ Subtype</div>
                    <div class="grp-th">Category</div>
                    <div class="grp-th">Deposit/Refund</div>
                    <div class="grp-th">Dates</div>
                    <div class="grp-th">Notes</div>
                </div>
            </div>

            <div class="form-row grp-module grp-tbody">
                {% for subs in account.subscription_set.all %}
                  <div class="grp-tr">
                    <div class='grp-td'>
                      <a href="{% url 'admin:accounts_subscription_change' subs.id %}" target="_blank">{{ subs.get_subtype_display }}</a>
                    </div>
                    <div class='grp-td'>
                      {{ subs.category|default:'' }}
                    </div>
                    <div class='grp-td'>
                        {{ subs.deposit|default:'' }}
                    </div>
                    <div class="grp-td">
                        {{ subs.partial_start_date }} - {{ subs.partial_end_date|default:'' }}
                    </div>
                    <div class='grp-td'>{{ subs.notes }}</div>
                </div>
                {% endfor %}
                {% for reimb in account.reimbursement_set.all %}
                  <div class="grp-tr">
                    <div class='grp-td'>
                      {# Reimbursements will always have the same type and no Category #}
                      <a href="{% url 'admin:accounts_reimbursement_change' reimb.id %}" target="_blank">Reimbursement</a>
                    </div>
                    {# no category for reimbursement #}
                    <div class='grp-td'></div>
                    <div class='grp-td'>
                        {{ reimb.refund }}
                    </div>
                    <div class="grp-td">
                        {{ reimb.partial_start_date }}
                    </div>
                    <div class='grp-td'>{{ reim.notes }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="tabular inline-related grp-module grp-table">
          No documented subscription or reimbursement events
        </div>
        {% endif %}


    {% endfor %}
  </div>

  {% else %}

  {# <div class="inline-group grp-group grp-tabular"> #}
    <h2 class="grp-collapse-handler">No associated account</h2>
  {# </div> #}

  {% endif %}
{% endblock %}




{% block after_related_objects %}
<div class="inline-group grp-group grp-tabular">
    <h2 class="grp-collapse-handler">Relationships to this person</h2>
    <!-- container -->
    <div class="tabular inline-related grp-module grp-table">
        <div class="module grp-module grp-thead">
            <div class="grp-tr">
                <div class="grp-th">From person</div>
                <div class="grp-th">Relationship type</div>
                <div class='grp-th'>To person</div>
                <div class="grp-th">Notes</div>
            </div>
        </div>            <!-- element -->
            <div class="form-row grp-module grp-tbody"
                id="to-relationship-read-only">
                {% for relation in original.to_relationships.all %}
                  <div class="grp-tr">

                    <div class="grp-td">
                      <a href='{% url "admin:people_person_change" relation.from_person.pk %}'>
                        {{ relation.from_person }}
                      </a>
                    </div>
                    <div class='grp-td'>
                      {{ relation.relationship_type }}
                    </div>
                    <div class='grp-td'>
                      {{ original.name }}
                    </div>
                    <div class='grp-td'>
                      {{ relation.notes }}
                    </div>


                </div>
                {% endfor %}
            </div>
    </div>

</div>
{% endblock %}
