ol.card-results {
    padding-top: 2.15rem;
    border-top: 1px solid $white-two;

    // on tablet and desktop, three cards per line
    @media (min-width: $breakpoint-s) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .member-cards & {
        border-top: 0;

        @media (min-width: $breakpoint-m + 1) {
            padding-top: 3.8rem;
        }
    }

}

.member-cards > div {   /* no cards available */
    padding: 3.8rem 0;
}

/* TODO: page nav controls spacing is not quite right.
   Should align with edges of container on desktop (when there's room).
.cards.sort-pages .outer {
    @media (min-width: calc(#{$breakpoint-m} + 8rem)) {
        width: calc(1024px - 2rem);
    }
} */

$card-width: 11.25rem;

.card.result {
    /* display card results 3 per row in a grid */

    border-top: 0;
    width: $card-width;
    margin-bottom: 2.8rem;

    // on tablet and desktop, three cards per line
    @media (min-width: $breakpoint-s + 1) {
        &:nth-child(3n+1) {
            justify-self: start;
        }
        &:nth-child(3n+2) {
            justify-self: center;
        }
        &:nth-child(3n+0) {
            justify-self: end;
        }
    }

    @media (max-width: $breakpoint-s) {
        // on mobile, centered with one card per line
        margin-right: auto;
        margin-left: auto;

    }

    a:hover,
    a:focus {
        border: 0;
    }

    img, source {
        max-height: 315px;
        overflow: hidden;
    }

    // hide the account dates and card holder label
    .card-dates dt, .name dt {
        @include sr-only;
    }

    .name dd {
        font-family: $serif;
        font-size: 1.2rem;
    }

    .card-dates dd {
        font-family: $sans;
        font-size: 0.82rem;
    }
    .card-dates.unknown  {
        color: $mid-grey;
    }


    // adjust for individual member card thumbnails
    .member-cards & {
        margin-bottom: 1.75rem;

        span.label {
            @include sr-only;
        }

        .card-dates {
            // NOTE: picture element is taking up some space so this
            // looks too big; not sure how to adjust
            // padding-top: 0.95rem;
        }

    }
}

.rights-statement {
    text-align: right;
    padding: 0 1rem 3rem;

    .card-image-viewer & {
        background-color: $white;

        @media (min-width: $breakpoint-s) {
            @include padding-container;
        }
    }

    a, a:hover {
        border-bottom: none;
    }

    img {
        padding-left: 0.5rem;
        height: 1.55rem;

        /* slightly smaller on card image viewer */
        .card-image-viewer & {
            height: 1.2rem;
        }

        &.logo {
            filter: grayscale(100%) brightness(30%);
        }
    }
}

