ol.card-results {
    padding-top: 2.15rem;
    border-top: 1px solid $white-two;

    // on tablet and desktop, three cards per line
    @media (min-width: $breakpoint-s) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .member-cards & {
        border-top: 0;

        @media (min-width: $breakpoint-m + 1) {
            padding-top: 3.8rem;
        }
    }

}

.member-cards > div {   /* no cards available */
    padding: 3.8rem 0;

    &.notes {
        padding-top: 1rem;
    }
}

/* TODO: page nav controls spacing is not quite right.
   Should align with edges of container on desktop (when there's room).
.cards.sort-pages .outer {
    @media (min-width: calc(#{$breakpoint-m} + 8rem)) {
        width: calc(1024px - 2rem);
    }
} */

$card-width: 11.25rem;

.card.result {
    /* display card results 3 per row in a grid */

    border-top: 0;
    width: $card-width;
    margin-bottom: 2.8rem;

    // on tablet and desktop, three cards per line
    @media (min-width: $breakpoint-s + 1) {
        &:nth-child(3n+1) {
            justify-self: start;
        }
        &:nth-child(3n+2) {
            justify-self: center;
        }
        &:nth-child(3n+0) {
            justify-self: end;
        }
    }

    @media (max-width: $breakpoint-s) {
        // on mobile, centered with one card per line
        margin-right: auto;
        margin-left: auto;

    }

    a:hover,
    a:focus {
        border: 0;
    }

    picture {
        display: block;
        height: 15.75rem;
    }

    img, source {
        max-height: 15.75rem;
        overflow: hidden;

        /* sized for fallback image display */
        min-height: 13.25rem;
        min-width: 11rem;
        @include missing-card-image;
    }

    dl {
        display: block;  /* override flex */
    }

    // hide account dates and card holder labels
    dt {
        @include sr-only;
    }

    dd.name {
        font-family: $serif;
        font-size: 1.2rem;
    }

    dd.card-dates {
        font-family: $sans;
        font-size: 0.82rem;
    }
    .card-dates.unknown  {
        color: $mid-grey;
    }

    // adjust for individual member card thumbnails
    .member-cards & {
        margin-bottom: 1.75rem;

        span.label {
            @include sr-only;
        }

        .card-dates {
            // NOTE: picture element is taking up some space so this
            // looks too big; not sure how to adjust
            // padding-top: 0.95rem;
        }

    }
}

.rights-statement {
    text-align: right;
    padding: 0 1rem 3rem;

    .card-image-viewer & {
        background-color: $white;

        @media (min-width: $breakpoint-s) {
            @include padding-container;
        }
    }

    a {
        margin-left: 0.75rem;
        border-color: $transparent-pale-teal;
        display: inline-block;  /* required to center PUL logo */
        font-size: 0;    /* avoid extra vertical space */

        @media (max-width: $breakpoint-s) {
            margin-left: 0.5rem;
        }

        &:hover, &:focus  {
            img {
                opacity: 1;
            }
        }


    }

    img {
        height: 1rem;
        opacity: 0.5;
        margin-bottom: 5px;

        /* slightly smaller on card image viewer */
        @media (max-width: $breakpoint-s) {
            height: 0.825rem;
        }

        &.logo {  /* NOTE: logo styles are possibly PUL specific */
            height: 1.25rem;
            filter: grayscale(100%) brightness(30%);

            &:hover, a:focus & {
                filter: grayscale(100%) brightness(60%);
            }

            @media (max-width: $breakpoint-s) {
                height: 1rem;
            }

        }
    }
}

