.card-image-viewer {

    .viewer {
        display: flex;
        padding-top: 1.3rem;
        padding-bottom: 2rem;
        background: $white;

        picture img {
            width: 11.25rem;

            @media (min-width: $breakpoint-s) {
                width: 21.5rem;
            }
        }

        .next,
        .prev {
            flex: auto;
            display: block;
            position: relative;

            &::before {
                content: " ";
                position: absolute;
                display: block;
                /* swap height and width since it will be rotated */
                height: 1rem;
                width: 2rem;
                top: 50%;
                background-image: url('/static/img/icons/blackChevron_down.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .next::before {
            transform: rotate(-90deg);
            left: 0.25rem;

            @media (min-width: $breakpoint-s) {
                left: 4rem;
            }

            @media (min-width: $breakpoint-m) {
                left: 6rem;
            }
        }

        .prev::before {
            transform: rotate(90deg);
            right: 0.25rem;

            @media (min-width: $breakpoint-s) {
                right: 4rem;
            }

            @media (min-width: $breakpoint-m) {
                right: 6rem;
            }
        }

        span::before {
            opacity: 0.25;
        }

        a {
            border: none;
        }
    }

    // event table styles
    .card-events {

        // mobile only
        @media (max-width: calc(#{$breakpoint-s} - 1px)) {

            .title {
                font-style: italic;
            }

            .type {
                text-transform: lowercase;
            }

            .start,
            .end {
                flex: none;
                width: auto;
            }

            .start {
                order: 3;
            }

            .end {
                order: 4;
            }

            .start:not(.empty) ~ .end {
                padding-left: 3px;

                &::before {
                    content: ' — ';
                }
            }
        }

        // tablet + desktop
        @media (min-width: $breakpoint-s) {

            .start,
            .end {
                min-width: 6rem;
            }
        }
    }
}

