.card-image-viewer {

    .viewer {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 1.3rem;
        background: $white;

        @media (min-width: $breakpoint-s) {
            padding-bottom: 2rem;
        }

        picture img {
            width: 11.25rem;

            @media (min-width: $breakpoint-s) {
                width: 21.5rem;
            }
        }

        .next,
        .prev {
            flex: auto;
            display: block;
            position: relative;

            &::before {
                content: " ";
                position: absolute;
                display: block;
                /* swap height and width since it will be rotated */
                height: 1rem;
                width: 2rem;
                top: 50%;
                background-image: url('/static/img/icons/blackChevron_down.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .next::before {
            transform: rotate(-90deg);
            left: 0.25rem;

            @media (min-width: $breakpoint-s) {
                left: 4rem;
            }

            @media (min-width: $breakpoint-m) {
                left: 6rem;
            }
        }

        .prev::before {
            transform: rotate(90deg);
            right: 0.25rem;

            @media (min-width: $breakpoint-s) {
                right: 4rem;
            }

            @media (min-width: $breakpoint-m) {
                right: 6rem;
            }
        }

        span::before {
            opacity: 0.25;
        }

        a {
            border: none;
        }
    }

    // card image navigation
    .nav-wrapper {
        background: $white;
        padding-bottom: 1.3rem;
        position: relative;

        @media (min-width: $breakpoint-s) { padding-bottom: 2rem; }

        &::before, &::after {
            height: 100%;
            width: 4rem;
            position: absolute;
            top: 0;
            content: '';
            z-index: 1;
        }

        &::before {
            left: 0;
            background: linear-gradient(
                270deg,
                $transparent 0%,
                $transparent 25%,
                $white 75%);
        }

        &::after {
            right: 0;
            background: linear-gradient(
                90deg,
                $transparent 0%,
                $transparent 25%,
                $white 75%);
        }
    }

    nav.cards {
        margin: auto;
        max-width: none;
        overflow-x: auto;

        @media (min-width: $breakpoint-s) { max-width: 34rem; }
        @media (min-width: $breakpoint-m) { max-width: 38rem; }

        ol {
            display: flex;
            flex-direction: row nowrap;
        }

        li {
            flex: none;
            margin-right: 0.5rem;

            @media (min-width: $breakpoint-s) { margin-right: 1rem; }

            &:first-child {
                padding-left: 3.25rem;
                @media (min-width: $breakpoint-s) { padding-left: 4.75rem; }
                @media (min-width: $breakpoint-m) { padding-left: 5.25rem; }
            }

            &:last-child {
                padding-right: 3.25rem;
                @media (min-width: $breakpoint-s) { padding-right: 4.75rem; }
                @media (min-width: $breakpoint-m) { padding-right: 5.25rem; }
            }
        }

        a { border: none; }

        picture img {
            width: 2.25rem;
            height: 3.25rem;

            @media (min-width: $breakpoint-s) {
                width: 4.75rem;
                height: 6.5rem;
            }

            @media (min-width: $breakpoint-m) {
                width: 5.25rem;
                height: 7.5rem;
            }
        }
    }

    // event table styles
    .card-events {

        .title {
            text-align: left;
        }
        td.title {
            font-style: italic;
        }



        // mobile only
        @media (max-width: calc(#{$breakpoint-s} - 1px)) {

            .type {
                text-transform: lowercase;
            }

            .start,
            .end {
                flex: none;
                width: auto;
            }

            .start {
                order: 3;
            }

            .end {
                order: 4;
            }

            .start:not(.empty) ~ .end {
                padding-left: 3px;

                &::before {
                    content: ' — ';
                }
            }
        }

        // tablet + desktop
        @media (min-width: $breakpoint-s) {

            .start,
            .end {
                min-width: 6rem;
            }
        }
    }
}

