<footer class="ui basic footer segment grid container">
    <div class="ui fourteen wide column stackable grid container">
        <div class="three wide column">
            <div class="ui link list">
                <a class="item" href="/members">Members</a>
                <a class="item">Lending Library Cards</a>
                <a class="item">Books*</a>
                <a class="item">Visualization</a>
                <a class="item">Essays</a>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui link list">
                <a class="item">Sylvia Beach and Shakespeare and Company</a>
                <a class="item">About the project</a>
                <a class="item">How to cite</a>
                <a class="item">Data export</a>
                <a class="item">Contact</a>
            </div>
        </div>
    </div>
</footer>