{% load fullurl wagtailimages_tags %}
{% comment %}
Add HTML metadata tags for unfurling, twitter preview, etc.
Uses wagtail page fields if available; uses meta_page_title,
page_description, and page_meta_image if set in context.
{% endcomment %}
{% firstof page.seo_title page.title page_title as meta_page_title %}
{% firstof page.get_plaintext_description page.search_description page_description as meta_description %}

{# keywords for meta not yet implemented in wagtail #}
{# <meta name="keywords" content="{% block meta_keywords %}{% endblock %}"> #}
{% if meta_description %}
<meta name="description" content="{{ meta_description }}"/>
{% endif %}

{# include citation information for tools like Zotero #}
<meta name="citation_publisher" content="Center for Digital Humanities, Princeton University"/>
{% if request %} {# include full url when available #}
<meta name="citation_public_url" content="{{ request.build_absolute_uri }}" />
{% endif %}
{% if page.homepage %} {# project citation on home page #}
<meta name="citation_title" content="Shakespeare and Company Project"/>
<meta name="citation_date" content="2019"/>
{% elif page.contentpage or page.essaypage %} {# content/essay page citation details #}
<meta name="citation_title" content="{{ page.title|escape }}"/>
{% for author in page.authors %}
<meta name="citation_author" content="{{ author.lastname_first }}">
{% endfor %}
<meta name="citation_date" content="{{ page.first_published_at|date:"Y/m/d" }}"/>
{% endif %}

{# open graph metadata #}
{% if meta_page_title %}
<meta property="og:title" content="{{ meta_page_title }}" />
{% endif %}
<meta property="og:type" content="website" />
{% if meta_description %}
<meta property="og:description" content="{{ meta_description }}"/>
{% endif %}
<meta property="og:site_name" content="Shakespeare and Company Project"/>
{# twitter card #}

<meta name="twitter:card" content="summary{% if page.contentpage.featured_image %}_large_image{% endif %}" />
{% if meta_page_title %}
<meta name="twitter:title" content="{{ meta_page_title }}"/>
{% endif %}
{% if meta_description %}
<meta name="twitter:description" content="{{ meta_description }}" />
{% endif %}
{# <meta name="twitter:site" content="" /> add if/when S&co project has a twitter account#}

{% if request %} {# full urls required for image, dependent on request in context #}
{% with default_image="img/social-launching-2020.png" %}
{% if page.contentpage.featured_image %}
    {% image page.contentpage.featured_image max-1080x1080 as featured_image %}
{% elif page.landingpage.header_image %}
    {% image page.landingpage.header_image max-1080x1080 as featured_image %}
{% endif %}
{% if featured_image %}
    {# using fullurl twice because it doesn't support capturing result #}
    <meta property="og:image" content="{% buildfullurl featured_image.url %}" />
    <meta name="twitter:image" content="{% buildfullurl featured_image.url %}" />
{% else %}
    <meta property="og:image" content="{% fullstatic default_image %}" />
    <meta property="twitter:image" content="{% fullstatic default_image %}" />
{% endif %}
{% endwith %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:domain" content="{{ request.get_host }}" />
{% endif %}