{% load static %}
<header id="page-header"{% if style %} class="{{ style }}"{% endif %}>
    <img class="bookmark" src="{% static 'img/headers/header-bookmark.svg' %}" alt="" hidden>
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    <img class="logotype" src="{% static 'img/logo/SCo_logo_text.png' %}" alt="shakespeare & company" hidden>
    <p class="tagline" hidden>Recreating the world of the Lost Generation in interwar Paris.</p>
    <img class="chevron" src="{% static 'img/icons/chevron_down.png' %}" alt="" hidden>
</header>