{% load static wagtailcore_tags %}
<nav id="main-nav" aria-label="header">
    <ul class="corners">
        <li class="home square">
            <a href="{{ site.root_page.url }}" aria-label="home">
                <img src="{% static 'img/logo/SCo_logo_graphic.png' %}" alt="Shakespeare & Company">
            </a>
        </li>
        <li class="menu square">
            <a id="open-main-menu" href="#main-menu" role="button">
                <img src="{% static 'img/icons/Menu.svg' %}" alt="Open main menu">
            </a>
        </li>
    </ul>
    <ul id="main-menu" aria-label="primary navigation" aria-hidden="true">
        <li class="menu square">
            <a id="close-main-menu" href="#" role="button">
                <img src="{% static 'img/icons/Delete.svg' %}" alt="Close main menu">
            </a>
        </li>
        <li>
            <div>
                <a href="{% url 'people:members-list' %}">
                    <span class="title">{{ site.root_page.specific.members_title }}</span>
                    <span class="subtitle">{{ site.root_page.specific.members_tagline }}</span>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="{% url 'books:books-list' %}">
                <span class="title">{{ site.root_page.specific.books_title }}</span>
                <span class="subtitle">{{ site.root_page.specific.books_tagline }}</span>
                </a>
            </div>
        </li>
        {% for menuitem in site.root_page.get_children.live.in_menu %}
            <li>
                <a href="{% pageurl menuitem %}">
                    <span class="title">{{ menuitem.title }}</span>
                    <span class="subtitle">{{ menuitem.specific.tagline }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>