<fieldset class="active-filters">
    {% spaceless %}
    <div class="inner emulated-flex-gap">
        <legend>Selected Filters</legend>
        <label>
            United States
            <input type="checkbox" checked>
        </label>
        <label>
            Female
            <input type="checkbox" checked>
        </label>
        <label>
            Has Card
            <input type="checkbox" checked>
        </label>
        <label>
            Born 1875 – 1890
            <input type="checkbox" checked>
        </label>
        <label>
            8th Arrondissement
            <input type="checkbox" checked>
        </label>
        <button>Clear All</button>
    </div>
    {% endspaceless %}
</fieldset>