<div class="active-filters">
    {% spaceless %}
    <div class="inner">
        <span class="legend">Selected Filters</span>
        <span class="sr-only">Select to clear active filter.</span>
        {% for field in form %}
            {% if field.name == 'query' or field.name == 'sort' %} {# ignore #}
            {% else %}
            {% formfield_selected_filter field %}
            {% endif %}
        {% endfor %}
        <a href="" class="clear-all">Clear All</a>
    </div>
    {% endspaceless %}
</div>