{% load static pages_tags mezzanine_tags keyword_tags %}

<!DOCTYPE html>
<html lang="en" xmlns:schema="http://schema.org/" xmlns:og="http://ogp.me/ns#">
  <head>
    <!-- metadata -->
    <title>
        {% block page-title %}
            {% block page-subtitle %}{{ page.meta_title }}{% endblock %}
            The Shakespeare & Company Lending Library Project
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#07ae79" />
    <meta name="theme-color" content="#07ae79" />
    <meta name="keywords" content="{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
    {% endmetablock %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% metablock %}
    {{ page.description }}
    {% endmetablock %}{% endblock %}">
    {# html metadata #}
    {% firstof page_meta_image 'mstile-150x150.png' as preview_image %}
    {# open graph metadata #}
    <meta property="og:title" content="{{ page.meta_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static 'preview_image.png' %}" />
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:site_name" content="The Shakespeare & Company Lending Library Project"/>
    {# twitter card #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="{{ request.get_host }}" />
    <meta name="twitter:title" content="{{ page.meta_title }}"/>
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="{% static 'preview_image.png' %}" />
    <meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
    {% block metadata %}{% endblock %}

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/test-banner.css' %}" />
    {% block css %}{% endblock %}

    <!-- scripts -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.js"></script>
    {% block js %}{% endblock %}
  </head>
  <body>
    {% include 'snippets/test_banner.html' %}
    {% block page_header %}
    <header class="ui masthead center aligned basic segment">
        <div class="ui container">
            <div class="ui large secondary menu">
                <a class="item" href="/">S</a>
                <a class="item right"><i class="sidebar icon"></i>Menu</a>
            </div>
        </div>
        <div class="ui text container">
            <h1 class="ui header">{% block page_title %}{% endblock %}</h1>
            <h2 class="ui header">{% block page_subtitle %}{% endblock %}</h2>
        </div>
        {% block page_header_filters %}{% endblock %}
    </header>
    {% endblock %}
    <main id="{% block page-context-id %}{% endblock %}">
      {% block content %}{% endblock %}
    </main>
    {% block page_footer %}
        {% page_menu 'snippets/footer.html' %}
    {% endblock %}
    {% block page-js %}{% endblock %}
  </body>
</html>
