{% load render_bundle from webpack_loader %}
{% load static wagtailuserbar %}
<!DOCTYPE html>
<html lang="en" xmlns:schema="http://schema.org/" xmlns:og="http://ogp.me/ns#" class="no-js">
    <head>
        <!-- metadata -->
        <title>{% block page-subtitle %}{% endblock %}Shakespeare and Company Project</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
        <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#E9E9E9" />
        <meta name="theme-color" content="#ffffff" />
        {% include 'snippets/head_meta.html' %}
        {% block metadata %}{% endblock %}

        {% if page_jsonld %}
        <script type="application/ld+json" nonce="{{ request.csp_nonce }}">{{ page_jsonld|safe }}</script>
        {% endif %}
        <!-- analytics -->
        {% if not request.is_preview and GTAGS_ANALYTICS_ID %}
            {% include 'snippets/analytics.html' %}
        {% endif %}
        <!-- styles -->
        {% if SHOW_TEST_WARNING %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/test-banner.css' %}">
        {% endif %}
        {% block vendorcss %}{% endblock %}
        {% render_bundle 'main' 'css' %}
        {% block css %}{% endblock %}
        <!-- scripts -->
        {% render_bundle 'main' 'js' %}
        {% block js %}{% endblock %}
        {% include "snippets/plausible_analytics.html" %}
    </head>
    <body>
        {% include 'snippets/test_banner.html' %}
        {% include 'snippets/nav.html' %}
        {% block header %}{% endblock %}
        <main class="{% block main-style %}default{% endblock %}">
        {% block content %}{% endblock %}
        </main>
        {% include 'snippets/footer.html' %}
        {% wagtailuserbar %}
    </body>
</html>
