{% extends 'base.html' %}

{% block page-context-id %}homepage{% endblock %}

{% block page_title %}Shakespeare and Company Project{% endblock %}
{% block page_subtitle %}Recreating the world of the Lost Generation in interwar Paris.{% endblock %}

{% block content %}
<section class="ui basic segment">
        <div class="ui centered stackable grid container">
            <div class="twelve wide column">
                <p>In 1919, an American named Sylvia Beach opened an English-language bookshop and lending library in Paris. She called it Shakespeare and Company*, and it soon became the meeting place of a community of expatriates writers and artists that included Gertrude Stein, Ernest Hemingway, James Joyce, and Ezra Pound. In 1922, Beach published Joyce’s Ulysses under the Shakespeare and Company imprint—a feat that assured the bookshop and lending library’s iconic status.</p>
                <p>The Shakespeare and Company Project* is a digital humanities initiative that recreates world of the bookshop and lending library—the world of the Lost Generation, and high modernism and the avant-garde. Using two sets of records* from Beach’s archives at Princeton University, the Project tracks what members of the bookshop and lending library community read and where they lived. The Project also captures how the community changed from the end of World War I to the German Occupation of France in 1940, and the community’s connections to French writers and artists—André Gide, Simone de Beauvoir, and Jacques Lacan, among others—who patronized Shakespeare and Company.</p>
                <p>What did Hemingway read after completing The Sun Also Rises? ⟶ What books did Stein and Hemingway read in common? ⟶ Who lived in the 16th arrondissement? ⟶ How did the bookshop and lending library community change after the publication of Ulysses? After Black Tuesday? Was the community composed solely of writers and artists? The Shakespeare and Company Project answers these questions and many more.</p>
            </div>
            <div class="twelve wide column">
                <p>* The Shakespeare and Company Project uses two sets of records from Beach's archives to recreate the world of the bookshop and lending library. Logbooks capture every book purchase, and library membership and renewal, day-by-day from 1919 to 1941. Lending library cards capture the addresses and borrowing histories of individual library members.</p>
            </div>
        </div>
</section>
<section class="ui basic segment">
    <div class="ui centered stackable grid container">
        <div class="six wide center aligned column">
            <h3 class="ui heading">Recent Post</h3>
            <div class="ui divider"></div>
            <p>Lorem ipsum dolor sit amet, justo integre et vel. Eam timeam fuisset ne. Et per vidisse mediocrem repudiare, quo labitur denique eu. No vis aliquip oporteat voluptatum, ex civibus probatus pri, veri intellegebat et quo.</p>
            <a class="ui button">Read More</a>
        </div>
        <div class="six wide center aligned column">
            <h3 class="ui heading">Featured Members</h3>
            <div class="ui divider"></div>
            <div class="ui link list">
                <a class="item">Gertrude Stein</a>
                <a class="item">Ernest Hemingway</a>
                <a class="item">James Joyce</a>
                <a class="item">Ezra Pound</a>
                <a class="item">André Gide</a>
                <a class="item">Simone de Beauvoir</a>
                <a class="item">Jacques Lacan</a>
            </div>
            <a class="ui button" href="/members">View All</a>
        </div>
    </div>
</section>
{% endblock %}
