{% load wagtailcore_tags %}
<article class="main">
{% if page.tagline %}
<h2 class="tagline">{{ page.tagline }}<hr/></h2>
{% endif %}
{% if subtitle %}
<h2 class="subtitle">{{ subtitle }}</h2>
{% endif %}
{% for block in page.body %}
    {% if block.block_type == 'captioned_image' %}
        {% include "pages/snippets/figure.html" with captioned_img=block.value %}
    {% elif block.block_type == 'image' %}
        {% include "pages/snippets/responsive_image.html" with img=block.value %}
    {% else %}
        <div class="{{ block.block_type }}">
            {% include_block block %}
        </div>
    {% endif %}
{% endfor %}
</article>