<div class="citation">
    <h2>Cite this document</h2>
    <p>
        <span class="authors">
        {% spaceless %}
        {% for person in page.authors %}
        {% with author=person.value %}
            {% if forloop.first %}
            <span>{{ author.lastname_first }}</span>
            {% elif forloop.last %}
            {% if page.authors|length > 2 %}<span>, </span>{% endif %}
            <span> and {{ author.name }}</span>
            {% else %}
            <span>, {{ author.name }}</span>
            {% endif %}
        {% endwith %}
        {% endfor %}
        <span>.</span>
        {% endspaceless %}
        </span>
        <span class="title">“{{ page.title }}.” </span>
        <span class="project">Shakespeare and Company Project</span>,
        version {{ SW_VERSION }}. Center for Digital Humanities, Princeton University.
        {{ page.first_published_at|date:'F j, Y'}}.
        <span class="url">{{ page.get_full_url }}.</span>
        <span class="date">Accessed {% now 'F j, Y' %}. </span>
    </p>
</div>