{# {% if page.authors or page.editors %} #}
<div class="attribution">
    {% if page.authors %}
    <span class="authors">
        {% include 'pages/snippets/attribution.html' with creators=page.authors %}
    </span>
    {% endif %}
    {% if page.editors %}
    <span class="editors">
        Edited by {% include 'pages/snippets/attribution.html' with creators=page.editors %}
    </span>
    {% endif %}
    <span class="pubdate">
    <time datetime="{{ page.first_published_at|date:'Y-m-d' }}">
        {{ page.first_published_at|date:"F j, Y" }}
        {% if page.latest_revision_created_at|date:'Y-m-d' != page.first_published_at|date:'Y-m-d' %}
        (updated <time datetime="{{ page.latest_revision_created_at|date:'Y-m-d' }}">{{ page.latest_revision_created_at|date:"F j, Y" }}</time>)
        {% endif %}
    </time>
</div>
{# {% endif %} #}