{% load wagtailimages_tags %}
{# Generate responsive image using wagtail image template tag #}
{# Expects ImageWithCaption structblock with image and caption #}
{# sizes per design spec #}
<figure>
    {% if block_type == 'image' %}
    {% include "pages/snippets/responsive_image.html" with img=captioned_img.image alt_text=captioned_img.alternative_text %}
    {% elif block_type == 'svg_image' %}
    <img src="{{ captioned_img.image.url }}" alt="{{ captioned_img.alternative_text }}" role="img"/>
    {% endif %}
    {% if captioned_img.caption %}
    <figcaption>{{ captioned_img.caption }}</figcaption>
    {% endif %}
</figure>