{% load wagtailcore_tags wagtailimages_tags %}
{% comment %}
preview "tile" for sub/child pages shown on a landing page.
if 'desc' is True, will show the page's description (used for Analysis essays).
will show a preview if the page has a featured image defined.
{% endcomment %}
<a href="{% pageurl item %}" class="preview">
    <h2>{{ item.title }}</h2>
    <hr/>
    <p>{{ item.contentpage.get_description|safe }}</p>
    {% if item.contentpage.featured_image %}
        {% image item.contentpage.featured_image fill-320x190 as s %}
        {% image item.contentpage.featured_image fill-500x300 as m %}
        {% image item.contentpage.featured_image fill-355x210 as l %}
        {% image item.contentpage.featured_image fill-640x380 as s_2x %}
        {% image item.contentpage.featured_image fill-1000x600 as m_2x %}
        {% image item.contentpage.featured_image fill-710x420 as l_2x %}
        <picture>
            <source srcset="{{ s.url }}, {{ s_2x.url }} 2x">
            <source media="(min-width: 768px)" srcset="{{ m.url }}, {{ m_2x.url }} 2x">
            <source media="(min-width: 1024px)" srcset="{{ l.url }}, {{ l_2x.url }} 2x">
            <img src="{{ l.url }}" alt="">
        </picture>
    {% endif %}
</a>