<div class="books-borrowed ui bottom attached tab segment" data-tab="books-borrowed">
    <div class="ui center aligned container">
        <div class="ui small basic buttons">
            <button class="ui button active">Borrowing Events</button>
            <button class="ui button">Purchased Book</button>
            <button class="ui button">Borrowing Frequency</button>
        </div>
        <table class="ui sortable celled table">
            <thead>
                <tr>
                    <th class="">Title</th>
                    <th class="">Author</th>
                    <th class="">Publication Year</th>
                    <th class="sorted descending">Borrowing Date</th>
                    <th class="">Days out</th>
                </tr>
            </thead>
            <tbody>
                {% for n in "xxxxxxxxxx" %}
                <tr>
                    <td>Children of the Age</td>
                    <td></td>
                    <td>1925</td>
                    <td>10-10-1927</td>
                    <td>3</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>