<div class="lending-cards ui bottom attached tab segment" data-tab="lending-cards">
    <div class="ui center aligned container">
        <h4 class="header">Showing 80 cards</h4>
        <div class="cards-display">
            {% for n in "xxxxxxxxxxxxx" %}
            <div class="ui card">
                <div class="image">
                    <div class="placeholder"></div>
                </div>
                <div class="content">
                    <a class="header">{{ object }}</a>
                </div>
                <div class="description">
                    1926
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>