{# display & link IIIF manifest license and provider logo #}
{% load static mep_tags %}
<div class="rights-statement">
    {# logo for IIIF provider of digitized item #}
    {% if manifest.logo %}
        {# NOTE: could link to findingaids version via rendering url in extra data #}
        <img class="logo" src="{{ manifest.logo }}" alt=""/>
    {% endif %}
    {# for now, only supports rightsstatments.org licenses (should work for PUL content) #}
    {% if manifest.license %}
    <a href="{{ manifest.license }}">
        <img src="{% static 'img/rightsstatements_org/' %}{{ manifest.rights_statement_id }}.svg"
           alt="{{ manifest.license_label }}" />
    </a>
    {% endif %}
</div>