<div class="personography ui bottom attached active tab segment" data-tab="personography">
        <div class="ui centered stackable grid container">
            <section class="nine wide column">
                <section class="basics ui vertical segment">
                    <dl>
                        <div>
                            <dt>Birth/death</dt>
                            <dd>1899-1961</dd>
                        </div>
                        <div>
                            <dt>Nationality</dt>
                            <dd>American</dd>
                        </div>
                        <div>
                            <dt>Reference</dt>
                            <dd><a>Wikipedia</a></dd>
                            <dd><a>VIAF</a></dd>
                        </div>
                        <div>
                            <dt>Profession</dt>
                            <dd>Author</dd>
                        </div>
                    </dl>
                </section>
                <section class="addresses ui vertical segment">
                    <h4 class="header">Addresses</h4>
                    <div class="map">
                        <div class="placeholder"></div>
                    </div>
                    <div class="address-list">
                        <div class="ui list">
                            <div class="item">
                                <span>Oct 1910–1926</span>
                                <p>113 Rue Notre Dame des Champs<br>75006<br>Paris</p>
                            </div>
                            <div class="item">
                                <span>Oct 1910–1926</span>
                                <p>113 Rue Notre Dame des Champs<br>75006<br>Paris</p>
                            </div>
                            <div class="item">
                                <span>Oct 1910–1926</span>
                                <p>113 Rue Notre Dame des Champs<br>75006<br>Paris</p>
                            </div>
                            <div class="item">
                                <span>Oct 1910–1926</span>
                                <p>113 Rue Notre Dame des Champs<br>75006<br>Paris</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <aside class="four wide column">
                <section class="membership-length ui vertical segment">
                    <h4 class="header">Membership Length</h4>
                    <div class="visualization">
                        <div class="placeholder"></div>
                    </div>
                </section>
            </aside>
        </div>
    </div>