{% extends 'base.html' %}

{% block header %}
{% include 'snippets/header.html' with title=page.title style="content" %}
{% endblock %}

{% block main-style %}white{% endblock %}

{% block content %}
<article class="main">
    {% include 'pages/snippets/body.html' %}
    <div class="citation">
    <h2>Cite this document</h2>
    <p>
        <span class="title">"{{ page.title }}," </span>
        <span class="project">Shakespeare and Company Project. </span>
        <span class="date">{% now 'Y-m-d' %}. </span>
        <span class="url">{{ page.get_full_url }}</span>
    </p>
</div>
</article>
{% endblock %}