{% extends 'base.html' %}

{% block page-subtitle %}{% firstof page.seo_title page.title %} · {% if page.get_parent %}{% firstof page.get_parent.seo_title page.get_parent.title %} · {%endif %}{% endblock %}

{% block header %}
{% include 'snippets/header.html' with title=page.title style="content" %}
{% endblock %}

{% block main-style %}white{% endblock %}

{% block content %}
{% include 'snippets/breadcrumbs.html' %}
<article class="main">
    <div class="attribution">
        <span class="authors">
            {% include 'pages/snippets/attribution.html' with creators=page.authors %}
        </span>
        <span class="editors">
            {% include 'pages/snippets/attribution.html' with creators=page.editors %}
        </span>
        <time datetime="{{ item.first_published_at|date:'Y-m-d' }}">
            {{ page.first_published_at|date:"F j, Y"}}
        </time>
    </div>
    {% include 'pages/snippets/body.html' %}
    <div class="citation">
    <h2>Cite this document</h2>
    <p>
        <span class="title">“{{ page.title }}.” </span>
        <span class="project">Shakespeare and Company Project</span>,
        version {{ SW_VERSION }}. Center for Digital Humanities, Princeton University.
        {{ page.first_published_at|date:'F j, Y'}}.
        <span class="url">{{ page.get_full_url }}.</span>
        <span class="date">Accessed {% now 'F j, Y' %}. </span>
    </p>
</div>
</article>
{% endblock %}
