{% extends 'base.html' %}

{% block header %}
{% include 'snippets/header.html' with title=page.title style=page.title|lower|add:' banner' %}
{% endblock %}

{% block content %}
{% include 'snippets/breadcrumbs.html' %}
<div class="main">
    {% if page.tagline %}
    <h2 class="tagline">{{ page.tagline }}<hr/></h2>
    {% endif %}
    {% include 'pages/snippets/body.html' %}
</div>
<section class="subpages" aria-label="sub pages">
    {% for subpage in page.get_children %}
    {% include 'pages/snippets/preview.html' with item=subpage %}
    {% endfor %}
</section>
{% endblock %}