{% extends 'pages/landing_page.html' %}

{% comment %}
uses 'posts' added to context by RoutableLandingPage subtype; will get all
published ContentPage children ordered by first pubdate
{% endcomment %}
{% block content %}
{% include 'snippets/breadcrumbs.html' %}
<div class="main">
    {% if page.tagline %}
    <h2 class="tagline">{{ page.tagline }}<hr/></h2>
    {% endif %}
    {% include 'pages/snippets/body.html' %}
</div>
<section class="subpages posts {{ page.title|lower }}" aria-label="posts">
    {% for post in posts %}
    {% include 'pages/snippets/preview.html' with item=post %}
    {% endfor %}
</section>
{% endblock %}