{% extends 'base.html' %}
{% load static humanize %}

{% block page-subtitle %}{{ item.title }} · Library Holdings · {% endblock %}

{% block header %}
{% include 'snippets/header.html' with title=item.title style="detail" %}
{% endblock %}

{% block main-style %}tabbed{% endblock %}

{% block content %}
<nav class="tabs">
    <li class="tab" aria-selected="true">
        <span>details</span>
    </li>
    <li class="tab" aria-selected="false">
        <span>events</span>
    </li>
</nav>
<section class="details">
    {% include 'books/snippets/item_result.html' %}
</section>
{% endblock %}