{% extends 'base.html' %}
{% load static humanize %}
{% load render_bundle from webpack_loader %}

{% block css %}{% render_bundle 'search' 'css' %}{% endblock %}

{% block js %}{% render_bundle 'search' 'js' attrs='defer' %}{% endblock %}

{% block page-subtitle %}Library Holdings · {% endblock %}

{% block header %}
{% include 'snippets/header.html' with title="books" style="search" %}
{% endblock %}

{% block main-style %}white{% endblock %}

{% block content %}
<section class="books search-form">
    <form id="books-form">
        <span class="total-results">{{ items.count|intcomma }} total result{{ items.count|pluralize }}</span>
    </form>
</section>
<section class="books sort-pages">
    <div class="inner">
        <label class="sort">
            <span>SORTED BY</span>
            <select name="sort" form="books-form">
                <option selected>Title A-Z</option>
            </select>
            <img class="dropdown icon" src="{% static 'img/icons/chevron_down.png' %}" alt="">
        </label>
        <button type="submit" form="members-form">Go</button>
        {% include 'snippets/pagination.html' %}
    </div>
    {% if page_obj.has_other_pages %} {# if only one page of results, don't show next/previous links #}
    <div class="outer">
        {% include 'snippets/page-controls.html' %}
    </div>
    {% endif %}
</section>
<ol class="books results-list" style="counter-reset: results {{ page_obj.start_index|add:'-1' }};">
    {% for item in items %}
        {% include 'books/snippets/item_result.html' %}
    {% endfor %}
</ol>
{% endblock %}