{% extends 'base.html' %}
{% load static humanize markdownify %}

{% block page-subtitle %}{{ work.title }} · Library Holdings · {% endblock %}

{% block header %}
{% include 'snippets/header.html' with title=work.title style="detail" %}
{% endblock %}

{% block main-style %}tabbed white{% endblock %}

{% block content %}
{# breadcrumbs & tabs #}
{% include 'snippets/breadcrumbs.html' %}
<nav class="tabs" aria-label="tabs">
    <li class="tab" aria-selected="true">
        <a href="{% url 'books:book-detail' slug=work.slug %}">bibliography</a>
    </li>
    <li class="tab">
        <a href="{% url 'books:book-circ' slug=work.slug %}">circulation</a>
    </li>
    <li class="tab">
        <a href="{% url 'books:book-card-list' slug=work.slug %}">cards</a>
    </li>
</nav>

{# bibliographic details #}
<section aria-label="bibliography">
    <dl class="book">
        <div class="primary">
            {% for creator in work.creator_set.all %}
            {% ifchanged %}
            <dt class="creator">{{ creator.creator_type.name }}</dt>
            {% endifchanged %}
            <dd class="creator">{{ creator.person.name }}</dd>
            {% endfor %}
            {% if work.year %}
            <dt class="pubdate">Publication Date</dt>
            <dd class="pubdate">{{ work.year }}</dd>
            {% endif %}
            {# format #}
            {% if work.work_format %}
            <dt class="format">Format</dt>
            <dd class="format">{{ work.work_format }}</dd>
            {% endif %}
            {% if work.public_notes %}
            <div class="notes{% if work.is_uncertain %} uncertain{% endif %}">
                <dt>Notes</dt>
                <dd>{{ work.public_notes|markdownify }}</dd>
            </div>
            {% endif %}
        </div>
        <div class="secondary">
        {# link to read online #}
        {% if work.ebook_url %}
        <dt class="read-link">Link</dt>
        <dd class="read-link">
            <a href="{{ work.ebook_url }}" target="_blank">Read online</a>
        </dd>
        {% endif %}
        <dt class="circ">Circulation</dt>
        <dd class="circ">{{ work.event_count }} event{{ work.event_count|pluralize }}</dd>
        <dd class="circ">{{ work.event_years|as_ranges|default:'-' }}</dd>
        </div>
    </dl>
</section>
{% endblock %}
