{% extends 'base.html' %}
{% load static humanize %}

{% block page-subtitle %}{{ work.title }} · Library Holdings · {% endblock %}

{% block header %}
{% include 'snippets/header.html' with title=work.title style="detail" %}
{% endblock %}

{% block main-style %}tabbed{% endblock %}

{% block content %}
<nav class="tabs" aria-label="sections">
    <li class="tab active">
        <span>details</span>
    </li>
    <li class="tab">
        <a href="#">events</a>
    </li>
</nav>
<section class="details">
    {% include 'books/snippets/work_result.html' %}
</section>
{% if work.edition_set.exists %}
<section class="volumes-issues">
    <h2>Volume/Issue</h2>
    <ul>
    {% for edition in work.edition_set.all %}
    <li>
        {% if edition.volume %}Vol. {{ edition.volume }}{% endif %}
        {% if edition.number %}, no. {{ edition.number }}{% endif %}
        {% if edition.season %}, {{ edition.season }}{% endif %}
        {% if edition.year %} {{ edition.year }}{% endif %}
        {% if edition.title %}<em>{{ edition.title }}</em>{% endif %}
    </li>
    {% endfor %}
    </ul>
</section>
{% endif %}

{% endblock %}